<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 43.52px">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <meta name="google" content="notranslate" />
  <meta name="robots" content="noindex,nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Rajagame21</title>
  <link rel="stylesheet" href="/assets/css/index-f3f1dfe8.css" />
  <link rel="stylesheet" href="/assets/css/modules-b642e9bc.css" />
  <link rel="stylesheet" href="/assets/css/page-activity-4fe5c6bf.css" />
  <link rel="stylesheet" href="/assets/css/index-2c2fee84.css" />
  <link rel="stylesheet" href="/assets/css/modules-5dd73da0.css" />
  <link rel="stylesheet" href="/assets/css/page-home-482c7bbf.css" />
  <link rel="stylesheet" href="/assets/css/page-home-522c97b9.css" />
  <!-- <link rel="stylesheet" href="/assets/css/page-login-49518e3f.css"> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
    integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"
    integrity="sha512-MlEyuwT6VkRXExjj8CdBKNgd+e2H+aYZOCUaCrt9KRk6MlZDOs91V1yK22rwm8aCIsb5Ec1euL8f0g58RKT/Pg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <style>
    .message_alert_root {
      font-family:
        -apple-system,
        BlinkMacSystemFont,
        Helvetica Neue,
        Helvetica,
        Segoe UI,
        Arial,
        Roboto,
        PingFang SC,
        Hiragino Sans GB,
        Microsoft Yahei,
        sans-serif;
      font-size: 12px;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      outline: none;
      max-width: 12.8rem;
      width: max-content;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100000;
      border-radius: 5px;
    }

    .message_alert_text {
      font-family:
        -apple-system,
        BlinkMacSystemFont,
        Helvetica Neue,
        Helvetica,
        Segoe UI,
        Arial,
        Roboto,
        PingFang SC,
        Hiragino Sans GB,
        Microsoft Yahei,
        sans-serif;
      margin: 0;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      outline: none;
      transition: opacity 0.5s;
      animation: bounce-in-data-v-1dcba851 0.5s;
      position: relative;
      padding: 0.32rem 0.66667rem;
      text-align: center;
      line-height: 0.64rem;
      overflow: hidden;
      font-size: 0.37333rem;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 5px;
    }

    @keyframes bounce-in-data-v-1dcba851 {
      0% {
        transform: scale(0.4);
      }

      50% {
        transform: scale(1.03);
      }

      to {
        transform: scale(1);
      }
    }

    .c-popups {
      display: none;
      position: fixed;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #222121;
      z-index: 9999;
      width: 276px;
      color: #fff;
      border-radius: 23px;
    }

    .c-popups .header-section {
      background: var(--main_gradient-color) !important;
      padding: 10px;
      text-align: center;
      color: white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .c-popups .header-section h2 {
      font-size: 13px;
      font-weight: 400;
    }

    .c-popups p {
      font-size: 13px;
      font-weight: 400;
    }

    .c-popups .middle-content-section {
      height: 35vh;
      position: relative;
      overflow-y: scroll;
    }

    .c-popups .middle-content-section .text {
      padding: 15px;
      font-size: 13px;
      font-weight: 400;
    }

    .c-popups .bottom-section {
      display: flex;
      justify-content: space-between;
      padding: 13px 20px;
      align-items: center;
      box-shadow: 0 20px 50px gainsboro;
    }

    .c-popups .bottom-section.com {
      padding-top: 5px;
    }

    .c-popups .bottom-section.com .activity {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      font-size: 18px;
      padding: 9px 78px;
      border: none;
      background: var(--main_gradient-color);
      color: white;
      border-radius: 20px;
    }

    .MyGameRecordList__C-item-m-top[data-v-373b3197] {
      color: #fff;
    }
  </style>
  <script defer src="/js/client.js"></script>
  <script defer src="/k3/js/logic.js"></script>
</head>

<body style="font-size: 12px">
  <div id="app" data-v-app="">
    <div data-v-d024c659="" class="K3__C" style="
          --f13b4d11-currentFontFamily: &quot;Roboto&quot;, &quot;Inter&quot;,
            sans-serif;
        ">
      <div data-v-12a80a3e="" data-v-5d71c3fd="" class="navbar main">
        <div data-v-12a80a3e="" class="navbar-fixed">
          <div data-v-12a80a3e="" class="navbar__content">
            <div data-v-12a80a3e="" class="navbar__content-left" onclick="history.back()">
              <i data-v-12a80a3e="" class="van-badge__wrapper van-icon van-icon-arrow-left">
                <!---->
                <!---->
                <!---->
              </i>
            </div>
            <div data-v-12a80a3e="" class="navbar__content-center">
              <div data-v-12a80a3e="" class="headLogo" style="
                    background-image: url(&quot;https://ossimg.forpicStore777.top/rajalottery/other/h5setting_20250421000058m1mo.png&quot;);
                  "></div>
              <div data-v-12a80a3e="" class="navbar__content-title"></div>
            </div>
            <div data-v-12a80a3e="" class="navbar__content-right">
              <div data-v-5d71c3fd="" class="WinGo__C-head-more">
                <div data-v-5d71c3fd="" onclick="window.top.postMessage({navigate: '/Customersupport'}, '*')"></div>
                <div data-v-5d71c3fd="" class="" id="audio_button"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-v-7dd1adab="" data-v-d024c659="" class="Wallet__C">
        <div data-v-7dd1adab="" class="Wallet__C-balance">
          <div data-v-7dd1adab="" class="Wallet__C-balance-l1 reload_money">
            <div data-v-7dd1adab="" id="balance_amount">₹0.12</div>
          </div>
          <div data-v-7dd1adab="" class="Wallet__C-balance-l2">
            <!-- <svg data-v-7dd1adab="" class="svg-icon icon-lottyWallet">
                                <use xlink:href="#icon-lottyWallet"></use>
                            </svg> -->
            <div data-v-7dd1adab="">Wallet balance</div>
          </div>
          <div data-v-7dd1adab="" class="Wallet__C-balance-l3">
            <div data-v-7dd1adab="" onclick="window.top.postMessage({navigate: '/wallet/Withdraw'}, '*')">
              Withdraw
            </div>
            <div data-v-7dd1adab="" onclick="window.top.postMessage({navigate: '/wallet/Recharge'}, '*')">
              Deposit
            </div>
          </div>
        </div>
      </div>
      <div data-v-d024c659="" class="noticeBar__container" sitemsg="">
        <svg class="svg-icon icon-noticeBarSpeaker">
          <use xlink:href="#icon-noticeBarSpeaker"></use>
        </svg>
        <div class="noticeBar__container-body">
          <div class="noticeBar__container-body-text">
            If the withdrawal is successful but the bank does not arrive at
            the account within 72 hours, please contact our self-service
            center with your bank statement (PDF/VIDEO) and PDF password (if
            it applies) for us to do the verification and we will assist you
            in resolving the issue immediately, due to the strict control of
            the Bank of India, the bank merchant change frequently, so more
            than 1 month of the withdrawal will not be able to verify. Thank
            you for your patience! 🙏
          </div>
        </div>
        <button class="hotIcon">Detail</button>
      </div>
      <div data-v-17d56002="" data-v-d024c659="" class="GameList__C">
        <div data-v-17d56002="" class="GameList__C-item active" data-game-type="1">
          <div data-v-17d56002="">K3 Lotre <br />30S</div>
        </div>
        <div data-v-17d56002="" class="GameList__C-item" data-game-type="3">
          <div data-v-17d56002="">K3 Lotre<br />1Min</div>
        </div>
        <div data-v-17d56002="" class="GameList__C-item" data-game-type="5">
          <div data-v-17d56002="">K3 Lotre<br />3Min</div>
        </div>
        <div data-v-17d56002="" class="GameList__C-item" data-game-type="10">
          <div data-v-17d56002="">K3 Lotre<br />5Min</div>
        </div>
      </div>
      <div data-v-75b35bf5="" class="K3TL__C">
        <div data-v-75b35bf5="" class="K3TL__C-l1">
          <div data-v-75b35bf5="" class="left">
            <div data-v-75b35bf5="">Period</div>
            <div data-v-75b35bf5="" class="K3TL__C-rule">
              <svg data-v-75b35bf5="" xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32"
                fill="none">
                <path data-v-75b35bf5=""
                  d="M9.0484 25.8284L9.04089 25.8359L9.03366 25.8437C8.47797 26.4402 7.97942 26.8014 7.56631 26.9797C7.15908 27.1556 6.87147 27.141 6.67169 27.055C6.46753 26.967 6.24252 26.7559 6.06263 26.3149C5.88195 25.8718 5.76602 25.2377 5.76602 24.3993V9.38602C5.76602 6.69019 6.09509 5.23943 6.86083 4.42092C7.61326 3.61665 8.94055 3.26602 11.4593 3.26602H21.5393C24.0584 3.26602 25.3852 3.61676 26.1358 4.42054C26.8997 5.23844 27.226 6.68864 27.2193 9.38453V9.38602V24.386C27.2193 25.2248 27.1041 25.8592 26.9242 26.3024C26.7451 26.7438 26.5211 26.9543 26.3182 27.0418C26.1198 27.1275 25.8328 27.1424 25.4244 26.9663C25.0105 26.7878 24.5102 26.4264 23.9512 25.8299C23.2918 25.1224 22.4328 24.7733 21.5701 24.8202C20.7074 24.8672 19.8916 25.3075 19.3127 26.0793L19.3123 26.0799L17.9676 27.8772C17.9673 27.8776 17.967 27.878 17.9667 27.8785C17.5231 28.4638 16.9844 28.7094 16.4927 28.7094C16.001 28.7094 15.4623 28.4638 15.0187 27.8785C15.0184 27.878 15.0181 27.8776 15.0177 27.8772L13.6733 26.0802C13.6732 26.0801 13.6732 26.08 13.6731 26.0799C12.5033 24.515 10.4028 24.3993 9.05577 25.8211L9.0484 25.8284ZM8.93935 14.666C8.93935 15.7307 9.80798 16.5993 10.8727 16.5993C11.9374 16.5993 12.806 15.7307 12.806 14.666C12.806 13.6013 11.9374 12.7327 10.8727 12.7327C9.80798 12.7327 8.93935 13.6013 8.93935 14.666ZM8.93935 9.33268C8.93935 10.3974 9.80798 11.266 10.8727 11.266C11.9374 11.266 12.806 10.3974 12.806 9.33268C12.806 8.26798 11.9374 7.39935 10.8727 7.39935C9.80798 7.39935 8.93935 8.26798 8.93935 9.33268ZM14.806 16.266H22.1393C23.0174 16.266 23.7393 15.5441 23.7393 14.666C23.7393 13.788 23.0174 13.066 22.1393 13.066H14.806C13.928 13.066 13.206 13.788 13.206 14.666C13.206 15.5441 13.928 16.266 14.806 16.266ZM14.806 10.9327H22.1393C23.0174 10.9327 23.7393 10.2107 23.7393 9.33268C23.7393 8.45465 23.0174 7.73268 22.1393 7.73268H14.806C13.928 7.73268 13.206 8.45465 13.206 9.33268C13.206 10.2107 13.928 10.9327 14.806 10.9327Z"
                  stroke="currentColor" stroke-width="1.2"></path>
              </svg>
              How to play
            </div>
          </div>
          <div data-v-75b35bf5="">Time remaining</div>
        </div>
        <div data-v-75b35bf5="" class="K3TL__C-l2">
          <div data-v-75b35bf5="" id="period">20240824090890</div>
          <div data-v-75b35bf5="" class="K3TL__C-time">
            <div data-v-75b35bf5="">0</div>
            <div data-v-75b35bf5="">0</div>
            <div data-v-75b35bf5="" notime="">:</div>
            <div data-v-75b35bf5="">0</div>
            <div data-v-75b35bf5="">7</div>
          </div>
        </div>
        <div data-v-75b35bf5="" class="K3TL__C-l3">
          <div data-v-75b35bf5="" class="box">
            <div data-v-75b35bf5="" class="num1"></div>
            <div data-v-75b35bf5="" class="num3"></div>
            <div data-v-75b35bf5="" class="num5"></div>
          </div>
        </div>
      </div>
      <div data-v-8a4509d7="" data-v-d024c659="" class="K3B__C" voicetype="1" typeid="9">
        <div data-v-8a4509d7="" class="K3B__C-mark" style="display: none">
          <div data-v-8a4509d7="">0</div>
          <div data-v-8a4509d7="">7</div>
        </div>
        <div data-v-8a4509d7="" class="K3B__C-nav">
          <div data-v-8a4509d7="" class="active" id="total_bet_tab_btn">
            Total
          </div>
          <div data-v-8a4509d7="" class="" id="same_2_bet_tab_btn">
            2 same
          </div>
          <div data-v-8a4509d7="" class="" id="same_3_bet_tab_btn">
            3 same
          </div>
          <div data-v-8a4509d7="" class="" id="different_bet_tab_btn">
            Different
          </div>
        </div>
        <div data-v-ed0c8e79="" data-v-8a4509d7="" class="K3B__C-bettingList">
          <div data-v-ed0c8e79="" class="num num3" data-value="3">
            <div data-v-ed0c8e79="" class="ball rball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num3">3</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">207.36X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num4" data-value="4">
            <div data-v-ed0c8e79="" class="ball gball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num4">4</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">69.12X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num5" data-value="5">
            <div data-v-ed0c8e79="" class="ball rball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num5">5</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">34.56X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num6" data-value="6">
            <div data-v-ed0c8e79="" class="ball gball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num6">6</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">20.74X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num7" data-value="7">
            <div data-v-ed0c8e79="" class="ball rball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num7">7</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">13.83X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num8" data-value="8">
            <div data-v-ed0c8e79="" class="ball gball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num8">8</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">9.88X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num9" data-value="9">
            <div data-v-ed0c8e79="" class="ball rball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num9">9</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">8.3X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num10" data-value="10">
            <div data-v-ed0c8e79="" class="ball gball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num10">10</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">7.68X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num11" data-value="11">
            <div data-v-ed0c8e79="" class="ball rball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num11">11</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">7.68X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num12" data-value="12">
            <div data-v-ed0c8e79="" class="ball gball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num12">12</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">8.3X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num13" data-value="13">
            <div data-v-ed0c8e79="" class="ball rball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num13">13</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">9.88X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num14" data-value="14">
            <div data-v-ed0c8e79="" class="ball gball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num14">14</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">13.83X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num15" data-value="15">
            <div data-v-ed0c8e79="" class="ball rball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num15">15</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">20.74X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num16" data-value="16">
            <div data-v-ed0c8e79="" class="ball gball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num16">16</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">34.56X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num17" data-value="17">
            <div data-v-ed0c8e79="" class="ball rball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num17">17</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">69.12X</div>
          </div>
          <div data-v-ed0c8e79="" class="num num18" data-value="18">
            <div data-v-ed0c8e79="" class="ball gball">
              <div data-v-ed0c8e79="" class="K3B__C-odds-bet num18">18</div>
            </div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">207.36X</div>
          </div>
          <div data-v-ed0c8e79="" class="num numA" data-value="b">
            <div data-v-ed0c8e79="" class="">Big</div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">1.92X</div>
          </div>
          <div data-v-ed0c8e79="" class="num numB" data-value="s">
            <div data-v-ed0c8e79="" class="">Small</div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">1.92X</div>
          </div>
          <div data-v-ed0c8e79="" class="num numC" data-value="l">
            <div data-v-ed0c8e79="" class="">Odd</div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">1.92X</div>
          </div>
          <div data-v-ed0c8e79="" class="num numD" data-value="c">
            <div data-v-ed0c8e79="" class="">Even</div>
            <div data-v-ed0c8e79="" class="K3B__C-odds-rate">1.92X</div>
          </div>
        </div>
        <div data-v-5c28a69e="" data-v-8a4509d7="" style="display: none" class="K3B__C-betting2">
          <div data-v-5c28a69e="" class="K3B__C-betting2-tip1">
            2 matching numbers: odds<span data-v-5c28a69e="">(13.83)</span>
            <i data-v-5c28a69e="" class="van-badge__wrapper van-icon van-icon-question icon"
              style="color: rgb(250, 87, 74); font-size: 16px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
          <div data-v-5c28a69e="" class="K3B__C-betting2-line1 mb30">
            <div data-v-5c28a69e="" class="" data-value="11">
              <div data-v-5c28a69e="">11</div>
            </div>
            <div data-v-5c28a69e="" class="" data-value="22">
              <div data-v-5c28a69e="">22</div>
            </div>
            <div data-v-5c28a69e="" class="" data-value="33">
              <div data-v-5c28a69e="">33</div>
            </div>
            <div data-v-5c28a69e="" class="" data-value="44">
              <div data-v-5c28a69e="">44</div>
            </div>
            <div data-v-5c28a69e="" class="" data-value="55">
              <div data-v-5c28a69e="">55</div>
            </div>
            <div data-v-5c28a69e="" class="" data-value="66">
              <div data-v-5c28a69e="">66</div>
            </div>
          </div>
          <div data-v-5c28a69e="" class="K3B__C-betting2-tip1">
            A pair of unique numbers: odds<span data-v-5c28a69e="">(69.12)</span>
            <i data-v-5c28a69e="" class="van-badge__wrapper van-icon van-icon-question icon"
              style="color: rgb(250, 87, 74); font-size: 16px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
          <div data-v-5c28a69e="" class="K3B__C-betting2-line2">
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">11</div>
            </div>
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">22</div>
            </div>
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">33</div>
            </div>
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">44</div>
            </div>
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">55</div>
            </div>
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">66</div>
            </div>
          </div>
          <div data-v-5c28a69e="" class="K3B__C-betting2-line3">
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">1</div>
            </div>
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">2</div>
            </div>
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">3</div>
            </div>
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">4</div>
            </div>
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">5</div>
            </div>
            <div data-v-5c28a69e="" class="">
              <div data-v-5c28a69e="" class="">6</div>
            </div>
          </div>
        </div>
        <div data-v-3deb049d="" data-v-8a4509d7="" style="display: none" class="K3B__C-betting3">
          <div data-v-3deb049d="" class="K3B__C-betting3-tip1">
            3 of the same number: odds
            <span data-v-3deb049d="">(207.36)</span>
            <i data-v-3deb049d="" class="van-badge__wrapper van-icon van-icon-question icon"
              style="color: rgb(250, 87, 74); font-size: 16px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
          <div data-v-3deb049d="" class="K3B__C-betting3-line1 mb30">
            <div data-v-3deb049d="" class="" data-value="111">
              <div data-v-3deb049d="">111</div>
            </div>
            <div data-v-3deb049d="" class="" data-value="222">
              <div data-v-3deb049d="">222</div>
            </div>
            <div data-v-3deb049d="" class="" data-value="333">
              <div data-v-3deb049d="">333</div>
            </div>
            <div data-v-3deb049d="" class="" data-value="444">
              <div data-v-3deb049d="">444</div>
            </div>
            <div data-v-3deb049d="" class="" data-value="555">
              <div data-v-3deb049d="">555</div>
            </div>
            <div data-v-3deb049d="" class="" data-value="666">
              <div data-v-3deb049d="">666</div>
            </div>
          </div>
          <div data-v-3deb049d="" class="K3B__C-betting3-tip1">
            Any 3 of the same number: odds
            <span data-v-3deb049d="">(34.56)</span>
            <i data-v-3deb049d="" class="van-badge__wrapper van-icon van-icon-question icon"
              style="color: rgb(250, 87, 74); font-size: 16px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
          <div data-v-3deb049d="" class="K3B__C-betting3-btn" data-value="any3">
            Any 3 of the same number: odds
          </div>
        </div>
        <div data-v-bcf2c3f9="" data-v-8a4509d7="" style="display: none" class="K3B__C-betting4">
          <div data-v-bcf2c3f9="" class="K3B__C-betting4-tip1">
            3 different numbers: odds <span data-v-bcf2c3f9="">(34.56)</span>
            <i data-v-bcf2c3f9="" class="van-badge__wrapper van-icon van-icon-question icon"
              style="color: rgb(250, 87, 74); font-size: 16px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
          <div data-v-bcf2c3f9="" class="K3B__C-betting4-line1 mb30">
            <div data-v-bcf2c3f9="" class="" data-value="1">
              <div data-v-bcf2c3f9="">1</div>
            </div>
            <div data-v-bcf2c3f9="" class="" data-value="2">
              <div data-v-bcf2c3f9="">2</div>
            </div>
            <div data-v-bcf2c3f9="" class="" data-value="3">
              <div data-v-bcf2c3f9="">3</div>
            </div>
            <div data-v-bcf2c3f9="" class="" data-value="4">
              <div data-v-bcf2c3f9="">4</div>
            </div>
            <div data-v-bcf2c3f9="" class="" data-value="5">
              <div data-v-bcf2c3f9="">5</div>
            </div>
            <div data-v-bcf2c3f9="" class="" data-value="6">
              <div data-v-bcf2c3f9="">6</div>
            </div>
          </div>
          <div data-v-bcf2c3f9="" class="K3B__C-betting4-tip1">
            3 continuous numbers: odds <span data-v-bcf2c3f9="">(8.64)</span>
            <i data-v-bcf2c3f9="" class="van-badge__wrapper van-icon van-icon-question icon"
              style="color: rgb(250, 87, 74); font-size: 16px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
          <div data-v-bcf2c3f9="" class="K3B__C-betting4-btn" data-value="3continuous">
            3 continuous numbers
          </div>
          <div data-v-bcf2c3f9="" class="K3B__C-betting4-tip1">
            2 different numbers: odds <span data-v-bcf2c3f9="">(6.91)</span>
            <i data-v-bcf2c3f9="" class="van-badge__wrapper van-icon van-icon-question icon"
              style="color: rgb(250, 87, 74); font-size: 16px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
          <div data-v-bcf2c3f9="" class="K3B__C-betting4-line1">
            <div data-v-bcf2c3f9="" class="" data-value="1">
              <div data-v-bcf2c3f9="">1</div>
            </div>
            <div data-v-bcf2c3f9="" class="" data-value="2">
              <div data-v-bcf2c3f9="">2</div>
            </div>
            <div data-v-bcf2c3f9="" class="" data-value="3">
              <div data-v-bcf2c3f9="">3</div>
            </div>
            <div data-v-bcf2c3f9="" class="" data-value="4">
              <div data-v-bcf2c3f9="">4</div>
            </div>
            <div data-v-bcf2c3f9="" class="" data-value="5">
              <div data-v-bcf2c3f9="">5</div>
            </div>
            <div data-v-bcf2c3f9="" class="" data-value="6">
              <div data-v-bcf2c3f9="">6</div>
            </div>
          </div>
        </div>
        <div id="betting_popup" role="dialog" tabindex="0" class="van-popup van-popup--round van-popup--bottom"
          data-v-5f002ad4="" style="
              z-index: 2007;
              box-shadow: rgba(37, 37, 60, 0.26) 0px -18px 40px;
              display: none;
            ">
          <div data-v-5f002ad4="" class="Betting__Popup-body">
            <!--v-if-->
            <div data-v-5f002ad4="" class="Betting__Popup-type1">
              <p data-v-5f002ad4="" class="title">2 matching numbers:</p>
              <div data-v-5f002ad4="" class="list">
                <div data-v-5f002ad4="" class="Betting__Popup-type2-d">
                  44
                </div>
              </div>
            </div>
            <!--v-if-->
            <!--v-if-->
            <!--v-if-->
            <div data-v-5f002ad4="" class="Betting__Popup-body-line">
              Balance
              <div data-v-5f002ad4="" class="Betting__Popup-body-line-list">
                <div data-v-5f002ad4="" data-money="5" class="Betting__Popup-body-line-item money bgcolor">
                  5
                </div>
                <div data-v-5f002ad4="" data-money="10" class="Betting__Popup-body-line-item money">
                  10
                </div>
                <div data-v-5f002ad4="" data-money="100" class="Betting__Popup-body-line-item money">
                  100
                </div>
                <div data-v-5f002ad4="" data-money="1000" class="Betting__Popup-body-line-item money">
                  1000
                </div>
              </div>
            </div>
            <div data-v-5f002ad4="" class="Betting__Popup-body-line">
              Quantity
              <div data-v-5f002ad4="" class="Betting__Popup-body-line-btnL">
                <div data-v-5f002ad4="" class="Betting__Popup-btn minus bgcolor">
                  -
                </div>
                <div data-v-5f002ad4="" class="van-cell van-field Betting__Popup-input">
                  <!---->
                  <!---->
                  <div class="van-cell__value van-field__value">
                    <div class="van-field__body">
                      <input type="tel" inputmode="numeric" id="van-field-1-input" class="van-field__control"
                        data-np-intersection-state="visible" />
                      <!---->
                      <!---->
                      <!---->
                    </div>
                    <!---->
                    <!---->
                  </div>
                  <!---->
                  <!---->
                </div>
                <div data-v-5f002ad4="" class="Betting__Popup-btn plus bgcolor">
                  +
                </div>
              </div>
            </div>
            <div data-v-5f002ad4="" class="Betting__Popup-body-line">
              <div data-v-5f002ad4=""></div>
              <div data-v-5f002ad4="" class="Betting__Popup-body-line-list">
                <div data-v-5f002ad4="" data-x="1" class="Betting__Popup-body-line-item quantity bgcolor">
                  X1
                </div>
                <div data-v-5f002ad4="" data-x="5" class="Betting__Popup-body-line-item quantity">
                  X5
                </div>
                <div data-v-5f002ad4="" data-x="10" class="Betting__Popup-body-line-item quantity">
                  X10
                </div>
                <div data-v-5f002ad4="" data-x="20" class="Betting__Popup-body-line-item quantity">
                  X20
                </div>
                <div data-v-5f002ad4="" data-x="50" class="Betting__Popup-body-line-item quantity">
                  X50
                </div>
                <div data-v-5f002ad4="" data-x="100" class="Betting__Popup-body-line-item quantity">
                  X100
                </div>
              </div>
            </div>
            <div data-v-5f002ad4="" class="Betting__Popup-body-line">
              <span data-v-5f002ad4="" class="Betting__Popup-agree active">I agree</span>
              <span data-v-5f002ad4="" class="Betting__Popup-preSaleShow">《Pre-sale rules》</span>
            </div>
          </div>
          <div data-v-5f002ad4="" class="Betting__Popup-foot">
            <div data-v-5f002ad4="" class="Betting__Popup-foot-c">Cancel</div>
            <div data-v-5f002ad4="" class="Betting__Popup-foot-s bgcolor">
              Total amount ₹5.00
            </div>
          </div>
          <!---->
        </div>
      </div>
      <div data-v-72f81e71="" data-v-d024c659="" class="RecordNav__C">
        <div data-v-72f81e71="" class="active" id="game_history_tab_button">
          Game history
        </div>
        <div data-v-72f81e71="" class="" id="trend_tab_button">Chart</div>
        <div data-v-72f81e71="" class="" id="my_bets_tab_button">
          My history
        </div>
      </div>
      <div data-v-4e09079f="" data-v-d024c659="" class="GameRecord__C">
        <div data-v-4e09079f="" class="GameRecord__C-head">
          <div data-v-4e09079f="" class="van-row">
            <div data-v-4e09079f="" class="van-col van-col--10">Period</div>
            <div data-v-4e09079f="" class="van-col van-col--4">Sum</div>
            <div data-v-4e09079f="" class="van-col van-col--10">Results</div>
          </div>
        </div>
        <div data-v-4e09079f="" class="GameRecord__C-body"></div>
        <div data-v-4e09079f="" class="GameRecord__C-foot">
          <div data-v-4e09079f="" class="GameRecord__C-foot-previous disabled">
            <i data-v-4e09079f="" class="van-badge__wrapper van-icon van-icon-arrow-left GameRecord__C-icon"
              style="font-size: 20px"></i>
          </div>
          <div data-v-4e09079f="" class="GameRecord__C-foot-page">1/1673</div>
          <div data-v-4e09079f="" class="GameRecord__C-foot-next">
            <i data-v-4e09079f="" class="van-badge__wrapper van-icon van-icon-arrow GameRecord__C-icon"
              style="font-size: 20px"></i>
          </div>
        </div>
      </div>
      <div data-v-4159c83a="" data-v-d024c659="" class="Trend__C" style="display: none">
        <div data-v-4159c83a="" class="Trend__C-head">
          <div data-v-4159c83a="" class="van-row">
            <div data-v-4159c83a="" class="van-col van-col--8">Period</div>
            <div data-v-4159c83a="" class="van-col van-col--6">Results</div>
            <div data-v-4159c83a="" class="van-col van-col--10">Number</div>
          </div>
        </div>
        <div data-v-4159c83a="" class="Trend__C-body">
          <div data-v-4159c83a="" class="van-row">
            <div data-v-4159c83a="" class="van-col van-col--8">
              20240824091223
            </div>
            <div data-v-4159c83a="" class="van-col van-col--6">
              <div data-v-4159c83a="" class="Trend__C-body-premium">
                <div data-v-4159c83a="" class="n4"></div>
                <div data-v-4159c83a="" class="n3"></div>
                <div data-v-4159c83a="" class="n3"></div>
              </div>
            </div>
            <div data-v-4159c83a="" class="van-col van-col--10">
              <div data-v-4159c83a="" class="Trend__C-body-gameText">
                <span data-v-4159c83a="">2 same numbers</span>
              </div>
            </div>
          </div>
        </div>
        <div data-v-4159c83a="" class="Trend__C-foot">
          <div data-v-4159c83a="" class="Trend__C-foot-previous disabled">
            <i data-v-4159c83a="" class="van-badge__wrapper van-icon van-icon-arrow-left Trend__C-icon"
              style="font-size: 20px"></i>
          </div>
          <div data-v-4159c83a="" class="Trend__C-foot-page">1/1707</div>
          <div data-v-4159c83a="" class="Trend__C-foot-next">
            <i data-v-4159c83a="" class="van-badge__wrapper van-icon van-icon-arrow Trend__C-icon"
              style="font-size: 20px"></i>
          </div>
        </div>
      </div>
      <div data-v-cffd8c9f="" data-v-d024c659="" class="MyGameRecord__C" style="display: none">
        <div data-v-cffd8c9f="" class="MyGameRecord__C-body">
          <div data-v-cffd8c9f="" class="MyGameRecord__C-body-empty">
            <div data-v-f84b843f="" data-v-cffd8c9f="" class="empty__container">
              <svg data-v-f84b843f="" class="svg-icon icon-empty">
                <use xlink:href="#icon-empty"></use>
              </svg>
              <p data-v-f84b843f="">No data</p>
            </div>
          </div>
        </div>
        <!--v-if-->
        <div data-v-4159c83a="" class="MyGameRecord__C-foot" style="display: none">
          <div data-v-4159c83a="" class="MyGameRecord__C-foot-previous disabled">
            <i data-v-4159c83a="" class="van-badge__wrapper van-icon van-icon-arrow-left MyGameRecord__C-icon"
              style="font-size: 20px"></i>
          </div>
          <div data-v-4159c83a="" class="MyGameRecord__C-foot-page">
            1/1707
          </div>
          <div data-v-4159c83a="" class="MyGameRecord__C-foot-next">
            <i data-v-4159c83a="" class="van-badge__wrapper van-icon van-icon-arrow MyGameRecord__C-icon"
              style="font-size: 20px"></i>
          </div>
        </div>
      </div>
      <!-- 
                                                <div data-v-3e71d3da="" data-v-d024c659="" class="dialog inactive">
                                                    <div data-v-3e71d3da="" class="dialog__container" role="dialog"
                                                        tabindex="0">
                                                        <div data-v-3e71d3da="" class="dialog__container-img">
                                                            <img data-v-3e71d3da="" class="" alt=""
                                                            data-origin="/assets/png/tip-2298bb83.png"
                                                            src="/assets/png/tip-2298bb83.png" />
                                                        </div>
                                                        <div data-v-3e71d3da="" class="dialog__container-title">
                                                            <h1 data-v-3e71d3da=""></h1>
                                                        </div>
                                                        <div data-v-3e71d3da="" class="dialog__container-content">
                                                            <div data-v-d024c659=""></div>
                                                        </div>
                                                        <div data-v-3e71d3da="" class="dialog__container-footer">
                                                            <button data-v-3e71d3da="">Confirm</button><button
                                                            data-v-3e71d3da="">Cancel</button>
                                                        </div>
                                                    </div>
                                                    <div data-v-3e71d3da="" class="dialog__outside"></div>
                                                </div> 
                                                -->
      <audio id="voice1">
        <source src="/assets/mp3/di1-0f3d86cb.mp3" type="audio/mpeg" />
      </audio>
      <audio id="voice2">
        <source src="/assets/mp3/di2-ad9aa8fb.mp3" type="audio/mpeg" />
      </audio>
    </div>
    <div class="customer" id="customerId"
      onclick="if($(this).data('dragging')) return; window.top.postMessage({navigate: '/Customersupport'}, '*')" style="
          --f13b4d11-currentFontFamily: &quot;Roboto&quot;, &quot;Inter&quot;,
            sans-serif;
          --f6a705e1-currentFontFamily: bahnschrift;
        ">
      <img class="" data-origin="/assets/png/icon_sevice.webp" src="/assets/png/icon_sevice.webp" />
    </div>
    <script>
      $("#customerId").draggable({
        start: function (event, ui) {
          $("#customerId").css("cursor", "grabbing");
          $(this).data("dragging", true);
        },
        drag: function () {
          $("#customerId").css("cursor", "grabbing");
        },
        stop: function (event, ui) {
          $("#customerId");
          $("#customerId").css("cursor", "initial");
          setTimeout(function () {
            $(event.target).data("dragging", false);
          }, 1);
        },
      });
    </script>
    <div data-v-2d418cc5="" data-v-d024c659="" class="WinningTip__C" style="display: none" id="popup_modal">
      <div data-v-2d418cc5="" class="WinningTip__C-body" id="popup_background">
        <div data-v-2d418cc5="" class="WinningTip__C-body-l1" id="popup_greeting_display">
          Congratulations
        </div>
        <div data-v-2d418cc5="" class="WinningTip__C-body-l2" id="lottery_results_box">
          <div data-v-2d418cc5="" class="line1">
            <div data-v-2d418cc5="" class="n5"></div>
            <div data-v-2d418cc5="" class="n4"></div>
            <div data-v-2d418cc5="" class="n5"></div>
          </div>
          <div data-v-2d418cc5="" class="line2">
            <div data-v-2d418cc5="">545</div>
            <div data-v-2d418cc5="" class="yuan">Big</div>
            <div data-v-2d418cc5="">Even</div>
          </div>
        </div>
        <div data-v-2d418cc5="" class="WinningTip__C-body-l3">
          <div data-v-2d418cc5="" class="isLose" id="popup_loss_symbol">
            Lose
          </div>
          <div data-v-2d418cc5="" class="head" id="popup_win_symbol">
            Bonus
          </div>
          <div data-v-2d418cc5="" class="bonus" id="popup_win_rupees_display"></div>
          <div data-v-2d418cc5="" class="gameDetail" id="popup_game_details">
            Period:
          </div>
        </div>
        <div data-v-2d418cc5="" class="WinningTip__C-body-l4">
          <div data-v-2d418cc5="" class="acitveBtn"></div>
          3 seconds auto close
        </div>
        <div data-v-2d418cc5="" class="closeBtn"></div>
        <i data-v-2d418cc5="" class="van-badge__wrapper van-icon van-icon-arrow arrowBtn"
          style="color: rgb(255, 255, 255); font-size: 30px; display: none"></i>
      </div>
    </div>
    <script>
      $(".closeBtn").click(function () {
        $(".WinningTip__C").hide();
      });
    </script>
  </div>
  <div data-v-app=""></div>
  <div class="van-overlay" style="z-index: 2001; display: none"></div>
  <div role="dialog" tabindex="0" class="van-popup van-popup--center van-toast van-toast--middle van-toast--loading"
    style="z-index: 2001; display: none">
    <div class="van-loading van-loading--circular van-toast__loading" aria-live="polite" aria-busy="true">
      <span class="van-loading__spinner van-loading__spinner--circular">
        <svg class="van-loading__circular" viewBox="25 25 50 50">
          <circle cx="50" cy="50" r="20" fill="none"></circle>
        </svg>
      </span>
      <!---->
    </div>
    <!---->
    <!---->
  </div>
  <div role="dialog" tabindex="0"
    class="van-popup van-popup--center van-toast van-toast--middle van-toast--break-word van-toast--fail"
    style="z-index: 2007; display: none" id="alert_message">
    <i class="van-badge__wrapper van-icon van-icon-success van-toast__icon">
      <!---->
      <!---->
      <!---->
    </i>
    <div class="van-toast__text">Insufficient balance</div>
    <!---->
  </div>
</body>

</html>