<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 37px;">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.png">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="manifest">
    <title>Rajagame21</title>
    <link rel="stylesheet" href="/assets/css/modules-b642e9bc.css">
    <link rel="stylesheet" href="/assets/css/page-activity-4fe5c6bf.css">
    <link rel="stylesheet" href="/assets/css/index-2c2fee84.css">
    <link rel="stylesheet" href="/assets/css/page-home-522c97b9.css">
    <link rel="stylesheet" href="/assets/css/page-login-49518e3f.css">
    <link rel="stylesheet" href="/assets/css/page-test-24de9c20.css">
    <link rel="stylesheet" href="/assets/css/page-main-284c07ba.css">
    <link rel="stylesheet" href="/assets/css/page-promotion-14ce89d7.css">
    <link rel="stylesheet" href="/assets/css/page-wallet-b9af2085.css">
    <style id="pull-to-refresh-js-style">
        .ptr--ptr {
            box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.12);
            pointer-events: none;
            font-size: 0.85em;
            font-weight: bold;
            top: 0;
            height: 0;
            transition: height 0.3s, min-height 0.3s;
            text-align: center;
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: flex-end;
            align-content: stretch;
        }

        .ptr--box {
            padding: 10px;
            flex-basis: 100%;
        }

        .ptr--pull {
            transition: none;
        }

        .ptr--text {
            margin-top: .33em;
            color: rgba(0, 0, 0, 0.3);
        }

        .ptr--icon {
            color: rgba(0, 0, 0, 0.3);
            transition: transform .3s;
        }

        /* When at the top of the page, disable vertical overscroll so passive touch listeners can take over. */
        .ptr--top {
            touch-action: pan-x pan-down pinch-zoom;
        }

        .ptr--release .ptr--icon {
            transform: rotate(180deg);
        }

        .rechargeh__container-content__item[data-v-f851bd18] {
            font-weight: 800
        }

        .rechargeh__container-content__item-header .success[data-v-f851bd18] {
            font-size: 15px;
        }
    </style>
</head>

<body style="font-size: 12px;" class="">

    <div id="app" data-v-app="">

        <!--v-if-->
        <div data-v-f851bd18="" class="rechargeh__container"
            style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif">
            <div data-v-12a80a3e="" data-v-f851bd18="" class="navbar white">
                <div data-v-12a80a3e="" class="navbar-fixed">
                    <div data-v-12a80a3e="" class="navbar__content">
                        <div data-v-12a80a3e="" class="navbar__content-left" onclick="history.back()">
                            <i data-v-12a80a3e="" class="van-badge__wrapper van-icon van-icon-arrow-left"></i>
                        </div>
                        <div data-v-12a80a3e="" class="navbar__content-center">
                            <div data-v-12a80a3e="" class="navbar__content-title">Withdraw history</div>
                        </div>
                        <div data-v-12a80a3e="" class="navbar__content-right"></div>
                    </div>
                </div>
            </div>
            <div data-v-f851bd18="" class="rechargeh__header_box">
                <div data-v-f851bd18="" class="fun-tabs tabs" is-auto-load="true" activeclassname="tab_active">
                    <div class="fun-tabs__tab-list" id="nav_list"
                        style="transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); transition-duration: 360ms; transform: translate3d(0px, 0px, 0px)">
                        <div class="fun-tab-item funtab_item activeClassName" style="color: rgb(22, 119, 255)">
                            <div class="fun-tab-item__wrap">
                                <div class="fun-tab-item__label">
                                    <div data-v-f851bd18="" class="tab_item tab_active">
                                        <svg data-v-f851bd18="" class="svg-icon icon-all">
                                            <use xlink:href="#icon-all"></use>
                                        </svg>
                                        <span data-v-f851bd18="">All</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fun-tab-item funtab_item" style="">
                            <div class="fun-tab-item__wrap">
                                <div class="fun-tab-item__label">
                                    <div data-v-f851bd18="" class="tab_item">
                                        <img data-v-f851bd18=""
                                            src="https://ossimg.6club-club.com/6club/payNameIcon/WithBeforeImgIcon_20240913142805ft4s.png"
                                            alt="" />
                                        <span data-v-f851bd18="">BANK CARD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="fun-tab-item funtab_item" style="">
                        <div class="fun-tab-item__wrap">
                            <div class="fun-tab-item__label">
                                <div data-v-f851bd18="" class="tab_item"><img data-v-f851bd18=""
                                        src="https://ossimg.Big-Mumadmin888.com/bigmumbai/payNameIcon/payNameIcon_2024030722472943n5.png"
                                        alt="" /><span data-v-f851bd18="">UPI-APP</span></div>
                            </div>
                        </div>
                    </div> -->
                        <!-- <div class="fun-tab-item funtab_item" style="">
                        <div class="fun-tab-item__wrap">
                            <div class="fun-tab-item__label">
                                <div data-v-f851bd18="" class="tab_item"><img data-v-f851bd18=""
                                        src="https://ossimg.Big-Mumadmin888.com/bigmumbai/payNameIcon/payNameIcon_20240131164642ws73.png"
                                        alt="" /><span data-v-f851bd18="">UPI-Manual</span></div>
                            </div>
                        </div> -->
                        <!-- </div> -->
                        <div class="fun-tab-item funtab_item" style="">
                            <div class="fun-tab-item__wrap">
                                <div class="fun-tab-item__label">
                                    <div data-v-f851bd18="" class="tab_item">
                                        <img data-v-f851bd18=""
                                            src="https://ossimg.6club-club.com/6club/payNameIcon/WithBeforeImgIcon2_20240913142817jwjk.png"
                                            alt="" />
                                        <span data-v-f851bd18="">USDT</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fun-tabs__active-line"
                            style="transition: all 300ms ease 0s; width: 0px; height: 3px; transform: translate3d(53.5px, 0px, 0px); background-color: rgb(22, 119, 255)">
                        </div>
                    </div>
                </div>
                <div data-v-f851bd18="" class="query_select">
                    <div data-v-f851bd18="" class="ar-searchbar__selector">
                        <div data-v-f851bd18="" class="">
                            <span data-v-f851bd18="" class="ar-searchbar__selector-default">All</span>
                            <i data-v-f851bd18="" class="van-badge__wrapper van-icon van-icon-arrow-down"></i>
                        </div>
                    </div>
                    <div class="ar-searchbar__selector">
                        <div>
                            <span class="ar-searchbar__selector-default">2024-5-20/2024-5-31</span>
                            <i class="van-badge__wrapper van-icon van-icon-arrow-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="van-overlay" role="button" tabindex="0" data-v-f851bd18="" style="z-index: 2004; display: none">
            </div>
            <div role="dialog" tabindex="0" class="van-popup van-popup--round van-popup--bottom" data-v-f851bd18=""
                style="z-index: 2004; display: none">
                <div data-v-f851bd18="" class="van-picker">
                    <div class="van-picker__toolbar">
                        <button type="button" class="van-picker__cancel van-haptics-feedback">Cancel</button>
                        <button type="button" class="van-picker__confirm van-haptics-feedback">Confirm</button>
                    </div>
                    <div class="van-picker__columns" style="height: 264px">
                        <div class="van-picker-column">
                            <ul class="van-picker-column__wrapper"
                                style="transform: translate3d(0px, 110px, 0px); transition-duration: 0ms; transition-property: none">
                                <li role="button" tabindex="0"
                                    class="van-picker-column__item van-picker-column__item--selected"
                                    style="height: 44px">
                                    <div class="van-ellipsis">All</div>
                                </li>
                                <li role="button" tabindex="0" class="van-picker-column__item" style="height: 44px">
                                    <div class="van-ellipsis">Processing</div>
                                </li>
                                <li role="button" tabindex="0" class="van-picker-column__item" style="height: 44px">
                                    <div class="van-ellipsis">Completed</div>
                                </li>
                                <li role="button" tabindex="0" class="van-picker-column__item" style="height: 44px">
                                    <div class="van-ellipsis">Failed</div>
                                </li>
                            </ul>
                        </div>
                        <div class="van-picker__mask" style="background-size: 100% 110px"></div>
                        <div class="van-hairline-unset--top-bottom van-picker__frame" style="height: 44px"></div>
                    </div>
                </div>
            </div>
            <div data-v-61888f52="" data-v-f851bd18="" class="infiniteScroll"
                id="refresh955a217bd5f14b5a8105a9084ecc8e23">
                <div data-v-f851bd18="" class="rechargeh__container-content" id="deposit_history_list"></div>
                <div data-v-61888f52="" class="infiniteScroll__loading">
                    <div data-v-61888f52="">No more</div>
                </div>
            </div>
        </div>
        <!-- <div class="van-overlay" role="button" tabindex="0" data-v-f851bd18="" style="z-index: 2008"></div>
     <div role="dialog" tabindex="0" id="" class="van-popup van-popup--round van-popup--bottom" data-v-f851bd18="" style="z-index: 2008">
        <div data-v-f851bd18="" class="van-picker">
           <div class="van-picker__toolbar"><button type="button" class="van-picker__cancel van-haptics-feedback">Cancel</button><button type="button" class="van-picker__confirm van-haptics-feedback">Confirm</button></div>

           <div class="van-picker__columns" style="height: 264px">
              <div class="van-picker-column">
                 <ul class="van-picker-column__wrapper" style="transform: translate3d(0px, 110px, 0px); transition-duration: 0ms; transition-property: none">
                    <li role="button" tabindex="0" class="van-picker-column__item van-picker-column__item--selected" style="height: 44px"><div class="van-ellipsis">All</div></li>
                    <li role="button" tabindex="0" class="van-picker-column__item" style="height: 44px"><div class="van-ellipsis">Processing</div></li>
                    <li role="button" tabindex="0" class="van-picker-column__item" style="height: 44px"><div class="van-ellipsis">Complete</div></li>
                    <li role="button" tabindex="0" class="van-picker-column__item" style="height: 44px"><div class="van-ellipsis">Failed</div></li>
                 </ul>
              </div>
              <div class="van-picker__mask" style="background-size: 100% 110px"></div>
              <div class="van-hairline-unset--top-bottom van-picker__frame" style="height: 44px"></div>
           </div>
        </div>
     </div> -->
        <div class="van-overlay" role="button" tabindex="0" style="z-index: 2005; display: none"></div>
        <div role="dialog" tabindex="0" class="van-popup van-popup--round van-popup--bottom van-calendar__popup"
            style="z-index: 2005; display: none">
            <div class="van-calendar">
                <div class="van-calendar__header">
                    <div class="van-calendar__header-title">Calendar</div>
                    <div class="van-calendar__header-subtitle">2024/4</div>
                    <div class="van-calendar__weekdays">
                        <span class="van-calendar__weekday">Sun</span>
                        <span class="van-calendar__weekday">Mon</span>
                        <span class="van-calendar__weekday">Tue</span>
                        <span class="van-calendar__weekday">Wed</span>
                        <span class="van-calendar__weekday">Thu</span>
                        <span class="van-calendar__weekday">Fri</span>
                        <span class="van-calendar__weekday">Sat</span>
                    </div>
                </div>
                <div class="van-calendar__body">
                    <div class="van-calendar__month">
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/2</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/3</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/4</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/5</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/6</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/7</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/8</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/9</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/10</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/11</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2022/12</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/1</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/2</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/3</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/4</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/5</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/6</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/7</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/8</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/9</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/10</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/11</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2023/12</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2024/1</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2024/2</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                            <div class="van-calendar__day" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2024/3</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__month-mark">3</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="margin-left: 71.4286%">1
                            </div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">2</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">3</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">4</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">5</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">6</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">7</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">8</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">9</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">10</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">11</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">12</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">13</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">14</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">15</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">16</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">17</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">18</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">19</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">20</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">21</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">22</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">23</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">24
                            </div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">25
                            </div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">26
                            </div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">27
                            </div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">28
                            </div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">29
                            </div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">30
                            </div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">31
                            </div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2024/4</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__month-mark">4</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="margin-left: 14.2857%">1
                            </div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">2</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">3</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">4</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">5</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">6</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">7</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">8</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">9</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">10</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">11</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">12</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">13</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">14</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">15</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">16</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">17</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">18</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">19</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">20</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">21</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">22</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">23</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">24</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">25</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">26</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">27</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">28
                            </div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">29
                            </div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1" style="margin-bottom: 0px">30
                            </div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2024/5</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__month-mark">5</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="margin-left: 42.8571%">1
                            </div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">2</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">3</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">4</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">5</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">6</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">7</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">8</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">9</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">10</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">11</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">12</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">13</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">14</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">15</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">16</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">17</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">18</div>
                            <div role="gridcell" class="van-calendar__day" tabindex="-1">19</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--start" tabindex="-1">
                                20
                                <div class="van-calendar__bottom-info">Start</div>
                            </div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--middle" tabindex="-1">21
                            </div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--middle" tabindex="-1">22
                            </div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--middle" tabindex="-1">23
                            </div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--middle" tabindex="-1">24
                            </div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--middle" tabindex="-1">25
                            </div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--middle" tabindex="-1"
                                style="margin-bottom: 0px">26</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--middle" tabindex="-1"
                                style="margin-bottom: 0px">27</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--middle" tabindex="-1"
                                style="margin-bottom: 0px">28</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--middle" tabindex="-1"
                                style="margin-bottom: 0px">29</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--middle" tabindex="-1"
                                style="margin-bottom: 0px">30</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--end" tabindex="-1"
                                style="margin-bottom: 0px">
                                31
                                <div class="van-calendar__bottom-info">End</div>
                            </div>
                        </div>
                    </div>
                    <div class="van-calendar__month">
                        <div class="van-calendar__month-title">2024/6</div>
                        <div role="grid" class="van-calendar__days">
                            <div class="van-calendar__month-mark">6</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="margin-left: 85.7143%">1
                            </div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">2</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">3</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">4</div>
                            <div class="van-calendar__day" role="gridcell" tabindex="-1" style="">5</div>
                            <div class="van-calendar__day van-calendar__day--disabled" role="gridcell" style="">6</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">7</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">8</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">9</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">10</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">11</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">12</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">13</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">14</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">15</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">16</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">17</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">18</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">19</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">20</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">21</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled">22</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled"
                                style="margin-bottom: 0px">23</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled"
                                style="margin-bottom: 0px">24</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled"
                                style="margin-bottom: 0px">25</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled"
                                style="margin-bottom: 0px">26</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled"
                                style="margin-bottom: 0px">27</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled"
                                style="margin-bottom: 0px">28</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled"
                                style="margin-bottom: 0px">29</div>
                            <div role="gridcell" class="van-calendar__day van-calendar__day--disabled"
                                style="margin-bottom: 0px">30</div>
                        </div>
                    </div>
                </div>
                <div class="van-calendar__footer van-safe-area-bottom">
                    <button type="button"
                        class="van-button van-button--primary van-button--normal van-button--block van-button--round van-calendar__confirm">
                        <div class="van-button__content">
                            <span class="van-button__text">Confirm</span>
                        </div>
                    </button>
                </div>
            </div>
            <i class="van-badge__wrapper van-icon van-icon-cross van-popup__close-icon van-popup__close-icon--top-right van-haptics-feedback"
                role="button" tabindex="0"></i>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/client.js"></script>
        <style>
            .rechargeh__container_remarks_field {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 5px;
                padding: 10px 12px 7px;
                min-height: 60px;
                border: 1px solid #f0f0f0;
                border-radius: 10px;
                font-size: 13px;
                background: #f9f9f9;
                color: #50596c;
            }
        </style>
        <script>
            function formatIndianNumber(num) {
                let formattedNum = new Intl.NumberFormat("en-IN", {
                    maximumFractionDigits: 2,
                    minimumFractionDigits: 2,
                }).format(num)
                return formattedNum
            }
            function formateT(params) {
                let result = params < 10 ? "0" + params : params
                return result
            }

            function timerJoin(params = "", addHours = 0) {
                let date = ""
                if (params) {
                    date = new Date(Number(params))
                } else {
                    date = new Date()
                }

                date.setHours(date.getHours() + addHours)

                let years = formateT(date.getFullYear())
                let months = formateT(date.getMonth() + 1)
                let days = formateT(date.getDate())

                let hours = date.getHours() % 12
                hours = hours === 0 ? 12 : hours
                let ampm = date.getHours() < 12 ? "AM" : "PM"

                let minutes = formateT(date.getMinutes())
                let seconds = formateT(date.getSeconds())

                return years + "-" + months + "-" + days + " " + hours + ":" + minutes + ":" + seconds + " " + ampm
            }
            function loads(datas) {
                if (datas.length) {
                    $(".no_data_image").addClass("hide")
                } else {
                    $(".no_data_image").removeClass("hide")
                }
                const WithdrawalMethodsMap = {
                    USDT_ADDRESS: "USDT ADDRESS",
                    BANK_CARD: "BANK CARD",
                }

                let html = datas.map(data => {
                    return `
                <div data-v-f851bd18="" class="rechargeh__container-content__item">
                    <div data-v-f851bd18="" class="rechargeh__container-content__item-header">
                       <span data-v-f851bd18="" class="recharge_tit">Withdraw</span>
                       <div data-v-f851bd18="" class="recharge_right ${data.status == 1 ? "success" : data.status == 2 ? "fail" : "pending"}">
                        ${data.status == 1 ? "Completed" : data.status == 2 ? "Failed" : "Processing"}${data.status == 1 ? `<i data-v-f851bd18="" class="van-badge__wrapper van-icon van-icon-arrow"></i>` : ""}
                       </div>
                    </div>
                    <div data-v-f851bd18="" role="separator" class="van-divider van-divider--hairline divier"></div>
                    <div data-v-f851bd18="" class="rechargeh__container-content__item-body">
                       <div data-v-f851bd18=""><span data-v-f851bd18="">Balance</span><span data-v-f851bd18="" class="price">₹${formatIndianNumber(data.amount)}</span></div>
                       <div data-v-f851bd18=""><span data-v-f851bd18="">Type</span><span data-v-f851bd18="">${WithdrawalMethodsMap?.[data.type] ? WithdrawalMethodsMap?.[data.type] : data.type}</span></div>
                       <div data-v-f851bd18=""><span data-v-f851bd18="">Time</span><span data-v-f851bd18="">${timerJoin(data.time)}</span></div>
                       <div data-v-f851bd18="">
                          <span data-v-f851bd18="">Order number</span>
                          <div data-v-f851bd18="" class="order">
                             <span data-v-f851bd18="">${data.orderId}</span><svg data-v-f851bd18="" class="svg-icon icon-copy"><use xlink:href="#icon-copy"></use></svg>
                          </div>
                       </div>
                    </div>

                   
                 </div>
                `
                }
                )
                $("#deposit_history_list").html(html)
                $(".number").click(function (e) {
                    e.preventDefault()
                    let text = $(this).text().trim()
                    navigator.clipboard.writeText(text)
                    $(this).addClass("block-click")
                    alertMess("Copy successful", $(this))
                })
            }
            function alertMess(text, sic) {
                $("body").append(`
            <div data-v-1dcba851="" class="msg">
                <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to"  > ${text} </div>
            </div>
            `,)
                setTimeout(() => {
                    $(".msg .msg-content").removeClass("v-enter-active v-enter-to")
                    $(".msg .msg-content").addClass("v-leave-active v-leave-to")
                    setTimeout(() => {
                        $(".msg").remove()
                    }
                        , 100)
                    sic.removeClass("block-click")
                }
                    , 1000)
            }
            $.ajax({
                type: "GET",
                url: "/api/webapi/withdraw/history",
                dataType: "json",
                success: function (response) {
                    loads(response.withdrawList)
                },
            })

            const searchParams = new URLSearchParams(window.location.search)

            const clientTxnId = searchParams.get("client_txn_id")
            const txnId = searchParams.get("txn_id")

            $(".funtab_item").click(function () {
                let index = $(this).index()
                if (index == 0) {
                    $("#nav_list").css("transform", "translate3d(0px, 0px, 0px)")
                }
                if (index == 1) {
                    $("#nav_list").css("transform", "translate3d(0px, 0px, 0px)")
                }
                if (index == 2) {
                    $("#nav_list").css("transform", "translate3d(-60px, 0px, 0px)")
                }
                if (index == 3) {
                    $("#nav_list").css("transform", "translate3d(-60px, 0px, 0px)")
                }

                $(this).addClass("activeClassName").siblings().removeClass("activeClassName")
                $(".tab_item").removeClass("tab_active")
                $(this).find(".tab_item").addClass("tab_active")
                $.ajax({
                    type: "GET",
                    url: "/api/webapi/withdraw/history",
                    dataType: "json",
                    success: function (response) {
                        if (response.withdrawList.length == 0)
                            return
                        const PaymentMethodsMap = {
                            upi_gateway: "UPI GATEWAY",
                            upi_gatewa: "UPI GATEWAY",
                            upi_manual: "UPI Manual",
                            usdt_manual: "USDT Manual",
                            usdt_manua: "USDT Manual",
                            wow_pay: "WOW Pay",
                            sunpay: "SUN Pay",
                            usdt: "USDT",
                        }

                        let paymentMethods = []

                        if (index == 0) {
                            paymentMethods = []
                        }
                        if (index == 1) {
                            paymentMethods = ["BANK_CARD"]
                        }
                        if (index == 2) {
                            paymentMethods = ["USDT_ADDRESS"]
                        }

                        if (paymentMethods.length) {
                            loads(response.withdrawList.filter(data => paymentMethods.includes(data.type)))
                        } else {
                            loads(response.withdrawList)
                        }
                    },
                })
            })

            if (!!txnId && !!clientTxnId) {
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/confirm_recharge",
                    data: {
                        client_txn_id: clientTxnId,
                        txn_id: txnId,
                    },
                    dataType: "json",
                    success: function (response) {
                        window.location.href = `${window.location.origin}${window.location.pathname}`
                        //window.location.reload()
                        localStorage.removeItem("userData")
                    },
                })
            }
        </script>
</body>

</html>