<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 47.4667px">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="robots" content="noindex,nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Rajagame21</title>
  <link rel="stylesheet" href="/assets/css/index-f3f1dfe8.css" />
  <link rel="stylesheet" href="/assets/css/modules-b642e9bc.css" />
  <link rel="stylesheet" href="/assets/css/page-activity-4fe5c6bf.css" />
  <link rel="stylesheet" href="/assets/css/index-2c2fee84.css" />
  <link rel="stylesheet" href="/assets/css/modules-5dd73da0.css" />
  <link rel="stylesheet" href="/assets/css/page-home-482c7bbf.css" />
  <link rel="stylesheet" href="/assets/css/page-home-522c97b9.css" />
  <link rel="stylesheet" href="/assets/css/page-login-49518e3f.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
    integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"
    integrity="sha512-MlEyuwT6VkRXExjj8CdBKNgd+e2H+aYZOCUaCrt9KRk6MlZDOs91V1yK22rwm8aCIsb5Ec1euL8f0g58RKT/Pg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch@0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script defer src="/js/client.js"></script>
  <script defer src="/5d/js/logic.js"></script>
</head>

<body style="font-size: 12px">
  <div id="app" data-v-app="">
    <div data-v-4f526022="" class="FD__C" style="
          --f13b4d11-currentFontFamily: &quot;Roboto&quot;, &quot;Inter&quot;,
            sans-serif;
        ">
      <div data-v-12a80a3e="" data-v-5d71c3fd="" class="navbar main">
        <div data-v-12a80a3e="" class="navbar-fixed">
          <div data-v-12a80a3e="" class="navbar__content">
            <div data-v-12a80a3e="" class="navbar__content-left" onclick="history.back()">
              <i data-v-12a80a3e="" class="van-badge__wrapper van-icon van-icon-arrow-left">
                <!---->
                <!---->
                <!---->
              </i>
            </div>
            <div data-v-12a80a3e="" class="navbar__content-center">
              <div data-v-12a80a3e="" class="headLogo" style="
                    background-image: url(&quot;https://ossimg.forpicStore777.top/rajalottery/other/h5setting_20250421000058m1mo.png&quot;);
                  "></div>
              <div data-v-12a80a3e="" class="navbar__content-title"></div>
            </div>
            <div data-v-12a80a3e="" class="navbar__content-right">
              <div data-v-5d71c3fd="" class="WinGo__C-head-more">
                <div data-v-5d71c3fd="" onclick="window.top.postMessage({navigate: '/Customersupport'}, '*')"></div>
                <div data-v-5d71c3fd="" class="" id="audio_button"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-v-7dd1adab="" data-v-4f526022="" class="Wallet__C">
        <div data-v-7dd1adab="" class="Wallet__C-balance">
          <div data-v-7dd1adab="" class="Wallet__C-balance-l1 reload_money">
            <div data-v-7dd1adab="" id="balance_amount">₹0.12</div>
          </div>
          <div data-v-7dd1adab="" class="Wallet__C-balance-l2">
            <!-- <svg data-v-7dd1adab="" class="svg-icon icon-lottyWallet">
                                <use xlink:href="#icon-lottyWallet"></use>
                            </svg> -->
            <div data-v-7dd1adab="">Wallet balance</div>
          </div>
          <div data-v-7dd1adab="" class="Wallet__C-balance-l3">
            <div data-v-7dd1adab="" onclick="window.top.postMessage({navigate: '/wallet/Withdraw'}, '*')">
              Withdraw
            </div>
            <div data-v-7dd1adab="" onclick="window.top.postMessage({navigate: '/wallet/Recharge'}, '*')">
              Deposit
            </div>
          </div>
        </div>
      </div>
      <div data-v-4f526022="" class="noticeBar__container">
        <svg class="svg-icon icon-noticeBarSpeaker">
          <use xlink:href="#icon-noticeBarSpeaker"></use>
        </svg>
        <div class="noticeBar__container-body">
          <div class="noticeBar__container-body-text">
            If the withdrawal is successful but the bank does not arrive at
            the account within 72 hours, please contact our self-service
            center with your bank statement (PDF/VIDEO) and PDF password (if
            it applies) for us to do the verification and we will assist you
            in resolving the issue immediately, due to the strict control of
            the Bank of India, the bank merchant change frequently, so more
            than 1 month of the withdrawal will not be able to verify. Thank
            you for your patience! 🙏
          </div>
        </div>
        <button class="hotIcon">Detail</button>
      </div>
      <div data-v-17d56002="" data-v-4f526022="" class="GameList__C">
        <div data-v-17d56002="" class="GameList__C-item" data-game-type="1">
          <div data-v-17d56002="">5D<br />30s</div>
        </div>
        <div data-v-17d56002="" class="GameList__C-item" data-game-type="3">
          <div data-v-17d56002="">5D<br />1Min</div>
        </div>
        <div data-v-17d56002="" class="GameList__C-item" data-game-type="5">
          <div data-v-17d56002="">5D<br />3Min</div>
        </div>
        <div data-v-17d56002="" class="GameList__C-item" data-game-type="10">
          <div data-v-17d56002="">5D<br />5Min</div>
        </div>
      </div>
      <div data-v-f388b770="" data-v-4f526022="" class="FDP__C">
        <div data-v-f388b770="" class="FDP__C-text">Lottery results</div>
        <div data-v-f388b770="" class="FDP__C-list">
          <div data-v-f388b770="">
            <div data-v-f388b770="" class="num">6</div>
            <div data-v-f388b770="" class="letter">A</div>
          </div>
          <div data-v-f388b770="">
            <div data-v-f388b770="" class="num">7</div>
            <div data-v-f388b770="" class="letter">B</div>
          </div>
          <div data-v-f388b770="">
            <div data-v-f388b770="" class="num">7</div>
            <div data-v-f388b770="" class="letter">C</div>
          </div>
          <div data-v-f388b770="">
            <div data-v-f388b770="" class="num">5</div>
            <div data-v-f388b770="" class="letter">D</div>
          </div>
          <div data-v-f388b770="">
            <div data-v-f388b770="" class="num">9</div>
            <div data-v-f388b770="" class="letter">E</div>
          </div>
        </div>
        <div data-v-f388b770="" class="FDP__C-symbol">=</div>
        <div data-v-f388b770="" class="FDP__C-sum">34</div>
      </div>
      <div data-v-69f351dd="" class="FDTL__C">
        <div data-v-69f351dd="" class="FDTL__C-l1">
          <div data-v-69f351dd="" class="left">
            <div data-v-69f351dd="">Period</div>
            <div data-v-69f351dd="" class="FDTL__C-rule">
              <svg data-v-69f351dd="" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                fill="none">
                <path data-v-69f351dd=""
                  d="M8.5484 25.8291L8.54089 25.8366L8.53366 25.8444C7.97797 26.4409 7.47942 26.802 7.06631 26.9804C6.65908 27.1562 6.37147 27.1416 6.17169 27.0556C5.96753 26.9677 5.74252 26.7566 5.56263 26.3155C5.38195 25.8725 5.26602 25.2383 5.26602 24.4V9.38666C5.26602 6.69084 5.59509 5.24007 6.36083 4.42157C7.11326 3.6173 8.44055 3.26666 10.9593 3.26666H21.0393C23.5584 3.26666 24.8852 3.61741 25.6358 4.42118C26.3997 5.23909 26.726 6.68929 26.7193 9.38518V9.38666V24.3867C26.7193 25.2254 26.6041 25.8598 26.4242 26.3031C26.2451 26.7444 26.0211 26.9549 25.8182 27.0425C25.6198 27.1281 25.3328 27.1431 24.9244 26.967C24.5105 26.7884 24.0102 26.4271 23.4512 25.8305C22.7918 25.1231 21.9328 24.7739 21.0701 24.8209C20.2074 24.8679 19.3916 25.3082 18.8127 26.08L18.8123 26.0806L17.4676 27.8779C17.4673 27.8783 17.467 27.8787 17.4667 27.8791C17.0231 28.4644 16.4844 28.71 15.9927 28.71C15.501 28.71 14.9623 28.4644 14.5187 27.8791C14.5184 27.8787 14.5181 27.8783 14.5177 27.8779L13.1733 26.0808C13.1732 26.0807 13.1732 26.0806 13.1731 26.0806C12.0033 24.5156 9.90283 24.3999 8.55577 25.8217L8.5484 25.8291ZM8.43935 14.6667C8.43935 15.7314 9.30798 16.6 10.3727 16.6C11.4374 16.6 12.306 15.7314 12.306 14.6667C12.306 13.602 11.4374 12.7333 10.3727 12.7333C9.30798 12.7333 8.43935 13.602 8.43935 14.6667ZM8.43935 9.33333C8.43935 10.398 9.30798 11.2667 10.3727 11.2667C11.4374 11.2667 12.306 10.398 12.306 9.33333C12.306 8.26863 11.4374 7.4 10.3727 7.4C9.30798 7.4 8.43935 8.26863 8.43935 9.33333ZM14.306 16.2667H21.6393C22.5174 16.2667 23.2393 15.5447 23.2393 14.6667C23.2393 13.7886 22.5174 13.0667 21.6393 13.0667H14.306C13.428 13.0667 12.706 13.7886 12.706 14.6667C12.706 15.5447 13.428 16.2667 14.306 16.2667ZM14.306 10.9333H21.6393C22.5174 10.9333 23.2393 10.2114 23.2393 9.33333C23.2393 8.45529 22.5174 7.73333 21.6393 7.73333H14.306C13.428 7.73333 12.706 8.45529 12.706 9.33333C12.706 10.2114 13.428 10.9333 14.306 10.9333Z"
                  stroke="currentColor" stroke-width="1.2"></path>
              </svg>
              How to play
            </div>
          </div>
          <div data-v-69f351dd="">Time remaining</div>
        </div>
        <div data-v-69f351dd="" class="FDTL__C-l2">
          <div data-v-69f351dd="" id="period">20240828050998</div>
          <div data-v-69f351dd="" class="FDTL__C-time">
            <div data-v-69f351dd="">0</div>
            <div data-v-69f351dd="">0</div>
            <div data-v-69f351dd="" notime="">:</div>
            <div data-v-69f351dd="">2</div>
            <div data-v-69f351dd="">9</div>
          </div>
        </div>
        <div data-v-69f351dd="" class="FDTL__C-l3">
          <div data-v-69f351dd="" class="box">
            <div data-v-69f351dd="" class="slot-column">
              <div data-v-69f351dd="" class="slot-transform transform0">
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  4
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  5
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  6
                </div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  4
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  5
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  6
                </div>
              </div>
            </div>
            <div data-v-69f351dd="" class="slot-column">
              <div data-v-69f351dd="" class="slot-transform transform1">
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  5
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  6
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  7
                </div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  5
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  6
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  7
                </div>
              </div>
            </div>
            <div data-v-69f351dd="" class="slot-column">
              <div data-v-69f351dd="" class="slot-transform transform2">
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  5
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  6
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  7
                </div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  5
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  6
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  7
                </div>
              </div>
            </div>
            <div data-v-69f351dd="" class="slot-column">
              <div data-v-69f351dd="" class="slot-transform transform3">
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  3
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  4
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  5
                </div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  3
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  4
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  5
                </div>
              </div>
            </div>
            <div data-v-69f351dd="" class="slot-column">
              <div data-v-69f351dd="" class="slot-transform transform4">
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  7
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  8
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  9
                </div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div class="slot-num" data-v-69f351dd="">0</div>
                <div class="slot-num" data-v-69f351dd="">1</div>
                <div class="slot-num" data-v-69f351dd="">2</div>
                <div class="slot-num" data-v-69f351dd="">3</div>
                <div class="slot-num" data-v-69f351dd="">4</div>
                <div class="slot-num" data-v-69f351dd="">5</div>
                <div class="slot-num" data-v-69f351dd="">6</div>
                <div class="slot-num" data-v-69f351dd="">7</div>
                <div class="slot-num" data-v-69f351dd="">8</div>
                <div class="slot-num" data-v-69f351dd="">9</div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  7
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  8
                </div>
                <div data-v-69f351dd="" class="slot-num" num="[object Object]">
                  9
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-v-28e57f6a="" data-v-4f526022="" class="FDB__C" voicetype="1" typeid="5">
        <div data-v-28e57f6a="" class="FDB__C-mark" style="display: none">
          <div data-v-28e57f6a="">2</div>
          <div data-v-28e57f6a="">9</div>
        </div>
        <div data-v-baf77bdf="" class="FDB__C-nav">
          <div data-v-baf77bdf="" class="active" data-value="a">A</div>
          <div data-v-baf77bdf="" class="" data-value="b">B</div>
          <div data-v-baf77bdf="" class="" data-value="c">C</div>
          <div data-v-baf77bdf="" class="" data-value="d">D</div>
          <div data-v-baf77bdf="" class="" data-value="e">E</div>
          <div data-v-baf77bdf="" class="" data-value="total">SUM</div>
        </div>
        <div data-v-baf77bdf="" class="FDB__C-H">
          <div data-v-baf77bdf="" class="" data-txt="b">
            <span data-v-baf77bdf="">Big</span>
            <span data-v-baf77bdf="">1.98</span>
          </div>
          <div data-v-baf77bdf="" class="" data-txt="s">
            <span data-v-baf77bdf="">Small</span>
            <span data-v-baf77bdf="">1.98</span>
          </div>
          <div data-v-baf77bdf="" class="" data-txt="l">
            <span data-v-baf77bdf="">Odd</span>
            <span data-v-baf77bdf="">1.98</span>
          </div>
          <div data-v-baf77bdf="" class="" data-txt="c">
            <span data-v-baf77bdf="">Even</span>
            <span data-v-baf77bdf="">1.98</span>
          </div>
        </div>
        <div data-v-baf77bdf="" class="FDB__C-Num">
          <div data-v-baf77bdf="" data-txt="0" class="">
            <div data-v-baf77bdf="" class="round">0</div>
            <div data-v-baf77bdf="" class="rate">9</div>
          </div>
          <div data-v-baf77bdf="" data-txt="1" class="">
            <div data-v-baf77bdf="" class="round">1</div>
            <div data-v-baf77bdf="" class="rate">9</div>
          </div>
          <div data-v-baf77bdf="" data-txt="2" class="">
            <div data-v-baf77bdf="" class="round">2</div>
            <div data-v-baf77bdf="" class="rate">9</div>
          </div>
          <div data-v-baf77bdf="" data-txt="3" class="">
            <div data-v-baf77bdf="" class="round">3</div>
            <div data-v-baf77bdf="" class="rate">9</div>
          </div>
          <div data-v-baf77bdf="" data-txt="4" class="">
            <div data-v-baf77bdf="" class="round">4</div>
            <div data-v-baf77bdf="" class="rate">9</div>
          </div>
          <div data-v-baf77bdf="" data-txt="5" class="">
            <div data-v-baf77bdf="" class="round">5</div>
            <div data-v-baf77bdf="" class="rate">9</div>
          </div>
          <div data-v-baf77bdf="" data-txt="6" class="">
            <div data-v-baf77bdf="" class="round">6</div>
            <div data-v-baf77bdf="" class="rate">9</div>
          </div>
          <div data-v-baf77bdf="" data-txt="7" class="">
            <div data-v-baf77bdf="" class="round">7</div>
            <div data-v-baf77bdf="" class="rate">9</div>
          </div>
          <div data-v-baf77bdf="" data-txt="8" class="">
            <div data-v-baf77bdf="" class="round">8</div>
            <div data-v-baf77bdf="" class="rate">9</div>
          </div>
          <div data-v-baf77bdf="" data-txt="9" class="">
            <div data-v-baf77bdf="" class="round">9</div>
            <div data-v-baf77bdf="" class="rate">9</div>
          </div>
        </div>
        <div class="van-overlay" data-v-7181abf7="" style="z-index: 2004; display: none">
          <!---->
        </div>
        <div id="betting_popup" role="dialog" tabindex="0" class="van-popup van-popup--round van-popup--bottom"
          data-v-7181abf7="" style="
              z-index: 2004;
              box-shadow: rgba(37, 37, 60, 0.26) 0px -18px 40px;
              display: none;
            ">
          <div data-v-7181abf7="" class="Betting__Popup-body">
            <div data-v-baf77bdf="" class="FDB__C-nav">
              <div data-v-baf77bdf="" class="active" data-value="a">A</div>
              <div data-v-baf77bdf="" class="" data-value="b">B</div>
              <div data-v-baf77bdf="" class="" data-value="c">C</div>
              <div data-v-baf77bdf="" class="" data-value="d">D</div>
              <div data-v-baf77bdf="" class="" data-value="e">E</div>
              <div data-v-baf77bdf="" class="" data-value="total">SUM</div>
            </div>
            <div data-v-baf77bdf="" class="FDB__C-H">
              <div data-v-baf77bdf="" class="" data-txt="b">
                <span data-v-baf77bdf="">Big</span>
                <span data-v-baf77bdf="">1.98</span>
              </div>
              <div data-v-baf77bdf="" class="" data-txt="s">
                <span data-v-baf77bdf="">Small</span>
                <span data-v-baf77bdf="">1.98</span>
              </div>
              <div data-v-baf77bdf="" class="" data-txt="l">
                <span data-v-baf77bdf="">Odd</span>
                <span data-v-baf77bdf="">1.98</span>
              </div>
              <div data-v-baf77bdf="" class="" data-txt="c">
                <span data-v-baf77bdf="">Even</span>
                <span data-v-baf77bdf="">1.98</span>
              </div>
            </div>
            <div data-v-baf77bdf="" class="FDB__C-Num">
              <div data-v-baf77bdf="" data-txt="0" class="">
                <div data-v-baf77bdf="" class="round">0</div>
                <div data-v-baf77bdf="" class="rate">9</div>
              </div>
              <div data-v-baf77bdf="" data-txt="1" class="">
                <div data-v-baf77bdf="" class="round">1</div>
                <div data-v-baf77bdf="" class="rate">9</div>
              </div>
              <div data-v-baf77bdf="" data-txt="2" class="">
                <div data-v-baf77bdf="" class="round">2</div>
                <div data-v-baf77bdf="" class="rate">9</div>
              </div>
              <div data-v-baf77bdf="" data-txt="3" class="">
                <div data-v-baf77bdf="" class="round">3</div>
                <div data-v-baf77bdf="" class="rate">9</div>
              </div>
              <div data-v-baf77bdf="" data-txt="4" class="">
                <div data-v-baf77bdf="" class="round">4</div>
                <div data-v-baf77bdf="" class="rate">9</div>
              </div>
              <div data-v-baf77bdf="" data-txt="5" class="">
                <div data-v-baf77bdf="" class="round">5</div>
                <div data-v-baf77bdf="" class="rate">9</div>
              </div>
              <div data-v-baf77bdf="" data-txt="6" class="">
                <div data-v-baf77bdf="" class="round">6</div>
                <div data-v-baf77bdf="" class="rate">9</div>
              </div>
              <div data-v-baf77bdf="" data-txt="7" class="">
                <div data-v-baf77bdf="" class="round">7</div>
                <div data-v-baf77bdf="" class="rate">9</div>
              </div>
              <div data-v-baf77bdf="" data-txt="8" class="">
                <div data-v-baf77bdf="" class="round">8</div>
                <div data-v-baf77bdf="" class="rate">9</div>
              </div>
              <div data-v-baf77bdf="" data-txt="9" class="active">
                <div data-v-baf77bdf="" class="round">9</div>
                <div data-v-baf77bdf="" class="rate">9</div>
              </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line">
              Balance
              <div data-v-7181abf7="" class="Betting__Popup-body-line-list">
                <div data-v-7181abf7="" data-money="1" class="Betting__Popup-body-line-item money bgcolor">
                  1
                </div>
                <div data-v-7181abf7="" data-money="10" class="Betting__Popup-body-line-item money">
                  10
                </div>
                <div data-v-7181abf7="" data-money="100" class="Betting__Popup-body-line-item money">
                  100
                </div>
                <div data-v-7181abf7="" data-money="1000" class="Betting__Popup-body-line-item money">
                  1000
                </div>
              </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line">
              Quantity
              <div data-v-7181abf7="" class="Betting__Popup-body-line-btnL">
                <div data-v-7181abf7="" class="Betting__Popup-btn minus bgcolor">
                  -
                </div>
                <div data-v-7181abf7="" class="van-cell van-field Betting__Popup-input"
                  modelmodifiers="[object Object]">
                  <!---->
                  <!---->
                  <div class="van-cell__value van-field__value">
                    <div class="van-field__body">
                      <input type="tel" inputmode="numeric" id="van-field-1-input" class="van-field__control" />
                      <!---->
                      <!---->
                      <!---->
                    </div>
                    <!---->
                    <!---->
                  </div>
                  <!---->
                  <!---->
                </div>
                <div data-v-7181abf7="" class="Betting__Popup-btn plus bgcolor">
                  +
                </div>
              </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line">
              <div data-v-7181abf7=""></div>
              <div data-v-7181abf7="" class="Betting__Popup-body-line-list">
                <div data-v-7181abf7="" data-x="1" class="Betting__Popup-body-line-item setBorder quantity bgcolor">
                  X1
                </div>
                <div data-v-7181abf7="" data-x="5" class="Betting__Popup-body-line-item setBorder quantity">
                  X5
                </div>
                <div data-v-7181abf7="" data-x="10" class="Betting__Popup-body-line-item setBorder quantity">
                  X10
                </div>
                <div data-v-7181abf7="" data-x="20" class="Betting__Popup-body-line-item setBorder quantity">
                  X20
                </div>
                <div data-v-7181abf7="" data-x="50" class="Betting__Popup-body-line-item setBorder quantity">
                  X50
                </div>
                <div data-v-7181abf7="" data-x="100" class="Betting__Popup-body-line-item setBorder quantity">
                  X100
                </div>
              </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line">
              <span data-v-7181abf7="" class="Betting__Popup-agree active">I agree</span>
              <span data-v-7181abf7="" class="Betting__Popup-preSaleShow">《Pre-sale rules》</span>
            </div>
          </div>
          <div data-v-7181abf7="" class="Betting__Popup-foot">
            <div data-v-7181abf7="" class="Betting__Popup-foot-c">Cancel</div>
            <div data-v-7181abf7="" class="Betting__Popup-foot-s bgcolor">
              Total amount₹1.00
            </div>
          </div>
          <!---->
        </div>
      </div>
      <div data-v-72f81e71="" data-v-4f526022="" class="RecordNav__C">
        <div data-v-72f81e71="" class="active" id="game_history_tab_button">
          Game history
        </div>
        <div data-v-72f81e71="" class="" id="trend_tab_button">Chart</div>
        <div data-v-72f81e71="" class="" id="my_bets_tab_button">
          My history
        </div>
      </div>
      <div data-v-9215aba8="" data-v-4f526022="" class="GameRecord__C"
        emerdapi="e=>f(m.WinGoGetEmerdList,e).then(t=>t.data)" gopathname="AllLotteryGames-BettingRecord5D">
        <div data-v-9215aba8="" class="GameRecord__C-head">
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">Period</div>
            <div data-v-9215aba8="" class="van-col van-col--12">Result</div>
            <div data-v-9215aba8="" class="van-col van-col--4">Total</div>
          </div>
        </div>
        <div data-v-9215aba8="" class="GameRecord__C-body">
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">
              20240828051045
            </div>
            <div data-v-9215aba8="" class="van-col van-col--12">
              <div data-v-9215aba8="" class="numList">
                <div data-v-9215aba8="" class="numItem">4</div>
                <div data-v-9215aba8="" class="numItem">1</div>
                <div data-v-9215aba8="" class="numItem">5</div>
                <div data-v-9215aba8="" class="numItem">4</div>
                <div data-v-9215aba8="" class="numItem">8</div>
              </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4">
              <span data-v-9215aba8="" class="redNumItem">22</span>
            </div>
          </div>
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">
              20240828051044
            </div>
            <div data-v-9215aba8="" class="van-col van-col--12">
              <div data-v-9215aba8="" class="numList">
                <div data-v-9215aba8="" class="numItem">2</div>
                <div data-v-9215aba8="" class="numItem">8</div>
                <div data-v-9215aba8="" class="numItem">8</div>
                <div data-v-9215aba8="" class="numItem">9</div>
                <div data-v-9215aba8="" class="numItem">8</div>
              </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4">
              <span data-v-9215aba8="" class="redNumItem">35</span>
            </div>
          </div>
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">
              20240828051043
            </div>
            <div data-v-9215aba8="" class="van-col van-col--12">
              <div data-v-9215aba8="" class="numList">
                <div data-v-9215aba8="" class="numItem">6</div>
                <div data-v-9215aba8="" class="numItem">8</div>
                <div data-v-9215aba8="" class="numItem">5</div>
                <div data-v-9215aba8="" class="numItem">2</div>
                <div data-v-9215aba8="" class="numItem">0</div>
              </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4">
              <span data-v-9215aba8="" class="redNumItem">21</span>
            </div>
          </div>
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">
              20240828051042
            </div>
            <div data-v-9215aba8="" class="van-col van-col--12">
              <div data-v-9215aba8="" class="numList">
                <div data-v-9215aba8="" class="numItem">0</div>
                <div data-v-9215aba8="" class="numItem">7</div>
                <div data-v-9215aba8="" class="numItem">4</div>
                <div data-v-9215aba8="" class="numItem">4</div>
                <div data-v-9215aba8="" class="numItem">5</div>
              </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4">
              <span data-v-9215aba8="" class="redNumItem">20</span>
            </div>
          </div>
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">
              20240828051041
            </div>
            <div data-v-9215aba8="" class="van-col van-col--12">
              <div data-v-9215aba8="" class="numList">
                <div data-v-9215aba8="" class="numItem">7</div>
                <div data-v-9215aba8="" class="numItem">5</div>
                <div data-v-9215aba8="" class="numItem">6</div>
                <div data-v-9215aba8="" class="numItem">6</div>
                <div data-v-9215aba8="" class="numItem">6</div>
              </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4">
              <span data-v-9215aba8="" class="redNumItem">30</span>
            </div>
          </div>
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">
              20240828051040
            </div>
            <div data-v-9215aba8="" class="van-col van-col--12">
              <div data-v-9215aba8="" class="numList">
                <div data-v-9215aba8="" class="numItem">5</div>
                <div data-v-9215aba8="" class="numItem">8</div>
                <div data-v-9215aba8="" class="numItem">3</div>
                <div data-v-9215aba8="" class="numItem">4</div>
                <div data-v-9215aba8="" class="numItem">1</div>
              </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4">
              <span data-v-9215aba8="" class="redNumItem">21</span>
            </div>
          </div>
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">
              20240828051039
            </div>
            <div data-v-9215aba8="" class="van-col van-col--12">
              <div data-v-9215aba8="" class="numList">
                <div data-v-9215aba8="" class="numItem">7</div>
                <div data-v-9215aba8="" class="numItem">8</div>
                <div data-v-9215aba8="" class="numItem">9</div>
                <div data-v-9215aba8="" class="numItem">1</div>
                <div data-v-9215aba8="" class="numItem">2</div>
              </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4">
              <span data-v-9215aba8="" class="redNumItem">27</span>
            </div>
          </div>
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">
              20240828051038
            </div>
            <div data-v-9215aba8="" class="van-col van-col--12">
              <div data-v-9215aba8="" class="numList">
                <div data-v-9215aba8="" class="numItem">9</div>
                <div data-v-9215aba8="" class="numItem">3</div>
                <div data-v-9215aba8="" class="numItem">9</div>
                <div data-v-9215aba8="" class="numItem">8</div>
                <div data-v-9215aba8="" class="numItem">5</div>
              </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4">
              <span data-v-9215aba8="" class="redNumItem">34</span>
            </div>
          </div>
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">
              20240828051037
            </div>
            <div data-v-9215aba8="" class="van-col van-col--12">
              <div data-v-9215aba8="" class="numList">
                <div data-v-9215aba8="" class="numItem">7</div>
                <div data-v-9215aba8="" class="numItem">4</div>
                <div data-v-9215aba8="" class="numItem">6</div>
                <div data-v-9215aba8="" class="numItem">8</div>
                <div data-v-9215aba8="" class="numItem">8</div>
              </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4">
              <span data-v-9215aba8="" class="redNumItem">33</span>
            </div>
          </div>
          <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">
              20240828051036
            </div>
            <div data-v-9215aba8="" class="van-col van-col--12">
              <div data-v-9215aba8="" class="numList">
                <div data-v-9215aba8="" class="numItem">5</div>
                <div data-v-9215aba8="" class="numItem">2</div>
                <div data-v-9215aba8="" class="numItem">6</div>
                <div data-v-9215aba8="" class="numItem">2</div>
                <div data-v-9215aba8="" class="numItem">7</div>
              </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4">
              <span data-v-9215aba8="" class="redNumItem">22</span>
            </div>
          </div>
        </div>
        <div data-v-9215aba8="" class="GameRecord__C-foot">
          <div data-v-9215aba8="" class="GameRecord__C-foot-previous disabled">
            <i data-v-9215aba8="" class="van-badge__wrapper van-icon van-icon-arrow-left GameRecord__C-icon"
              style="font-size: 20px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
          <div data-v-9215aba8="" class="GameRecord__C-foot-page">1/1689</div>
          <div data-v-9215aba8="" class="GameRecord__C-foot-next">
            <i data-v-9215aba8="" class="van-badge__wrapper van-icon van-icon-arrow GameRecord__C-icon"
              style="font-size: 20px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
      </div>
      <div data-v-9d93d892="" data-v-4f526022="" class="Trend__C" data-selected-tab="A" style="display: none">
        <div data-v-9d93d892="" class="Trend__C-body1">
          <div data-v-9d93d892="" class="Trend__C-nav">
            <div data-v-9d93d892="" class="active">A</div>
            <div data-v-9d93d892="" class="">B</div>
            <div data-v-9d93d892="" class="">C</div>
            <div data-v-9d93d892="" class="">D</div>
            <div data-v-9d93d892="" class="">E</div>
          </div>
          <div data-v-9d93d892="" class="Trend__C-body1-line">
            Statistic (last 100 Periods)
          </div>
          <div data-v-9d93d892="" class="Trend__C-body1-line">
            <div data-v-9d93d892="">Missing</div>
            <div data-v-9d93d892="" class="Trend__C-body1-line-num">
              <div data-v-9d93d892="">1</div>
              <div data-v-9d93d892="">6</div>
              <div data-v-9d93d892="">2</div>
              <div data-v-9d93d892="">16</div>
              <div data-v-9d93d892="">4</div>
              <div data-v-9d93d892="">0</div>
              <div data-v-9d93d892="">5</div>
              <div data-v-9d93d892="">3</div>
              <div data-v-9d93d892="">11</div>
              <div data-v-9d93d892="">8</div>
            </div>
          </div>
          <div data-v-9d93d892="" class="Trend__C-body1-line">
            <div data-v-9d93d892="">Avg missing</div>
            <div data-v-9d93d892="" class="Trend__C-body1-line-num">
              <div data-v-9d93d892="">10</div>
              <div data-v-9d93d892="">9</div>
              <div data-v-9d93d892="">9</div>
              <div data-v-9d93d892="">11</div>
              <div data-v-9d93d892="">7</div>
              <div data-v-9d93d892="">7</div>
              <div data-v-9d93d892="">19</div>
              <div data-v-9d93d892="">4</div>
              <div data-v-9d93d892="">13</div>
              <div data-v-9d93d892="">9</div>
            </div>
          </div>
          <div data-v-9d93d892="" class="Trend__C-body1-line">
            <div data-v-9d93d892="">Frequency</div>
            <div data-v-9d93d892="" class="Trend__C-body1-line-num">
              <div data-v-9d93d892="">8</div>
              <div data-v-9d93d892="">10</div>
              <div data-v-9d93d892="">10</div>
              <div data-v-9d93d892="">7</div>
              <div data-v-9d93d892="">11</div>
              <div data-v-9d93d892="">13</div>
              <div data-v-9d93d892="">4</div>
              <div data-v-9d93d892="">20</div>
              <div data-v-9d93d892="">7</div>
              <div data-v-9d93d892="">10</div>
            </div>
          </div>
          <div data-v-9d93d892="" class="Trend__C-body1-line">
            <div data-v-9d93d892="">Max consecutive</div>
            <div data-v-9d93d892="" class="Trend__C-body1-line-num">
              <div data-v-9d93d892="">1</div>
              <div data-v-9d93d892="">2</div>
              <div data-v-9d93d892="">2</div>
              <div data-v-9d93d892="">1</div>
              <div data-v-9d93d892="">1</div>
              <div data-v-9d93d892="">2</div>
              <div data-v-9d93d892="">1</div>
              <div data-v-9d93d892="">3</div>
              <div data-v-9d93d892="">2</div>
              <div data-v-9d93d892="">1</div>
            </div>
          </div>
        </div>
        <div data-v-9d93d892="" class="Trend__C-head">
          <div data-v-9d93d892="" class="van-row">
            <div data-v-9d93d892="" class="van-col van-col--8">Period</div>
            <div data-v-9d93d892="" class="van-col van-col--16">Number</div>
          </div>
        </div>
        <div data-v-9d93d892="" class="Trend__C-body2">
          <div data-v-9d93d892="" issuenumber="20240828051038" number="9" rowid="0">
            <div data-v-9d93d892="" class="van-row">
              <div data-v-9d93d892="" class="van-col van-col--8">
                <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">
                  20240828051038
                </div>
              </div>
              <div data-v-9d93d892="" class="van-col van-col--16">
                <div data-v-9d93d892="" class="Trend__C-body2-Num">
                  <canvas data-v-9d93d892="" canvas="" id="myCanvas0" class="line-canvas"></canvas>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    0
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    1
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    2
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    3
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    4
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    5
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    6
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    7
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    8
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">
                    9
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-BS isB">
                    H
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">
                    O
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-v-9d93d892="" issuenumber="20240828051037" number="7" rowid="1">
            <div data-v-9d93d892="" class="van-row">
              <div data-v-9d93d892="" class="van-col van-col--8">
                <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">
                  20240828051037
                </div>
              </div>
              <div data-v-9d93d892="" class="van-col van-col--16">
                <div data-v-9d93d892="" class="Trend__C-body2-Num">
                  <canvas data-v-9d93d892="" canvas="" id="myCanvas1" class="line-canvas"></canvas>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    0
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    1
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    2
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    3
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    4
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    5
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    6
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">
                    7
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    8
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    9
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-BS isB">
                    H
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">
                    O
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-v-9d93d892="" issuenumber="20240828051036" number="5" rowid="2">
            <div data-v-9d93d892="" class="van-row">
              <div data-v-9d93d892="" class="van-col van-col--8">
                <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">
                  20240828051036
                </div>
              </div>
              <div data-v-9d93d892="" class="van-col van-col--16">
                <div data-v-9d93d892="" class="Trend__C-body2-Num">
                  <canvas data-v-9d93d892="" canvas="" id="myCanvas2" class="line-canvas"></canvas>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    0
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    1
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    2
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    3
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    4
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">
                    5
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    6
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    7
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    8
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    9
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-BS isB">
                    H
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">
                    O
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-v-9d93d892="" issuenumber="20240828051035" number="4" rowid="3">
            <div data-v-9d93d892="" class="van-row">
              <div data-v-9d93d892="" class="van-col van-col--8">
                <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">
                  20240828051035
                </div>
              </div>
              <div data-v-9d93d892="" class="van-col van-col--16">
                <div data-v-9d93d892="" class="Trend__C-body2-Num">
                  <canvas data-v-9d93d892="" canvas="" id="myCanvas3" class="line-canvas"></canvas>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    0
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    1
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    2
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    3
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">
                    4
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    5
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    6
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    7
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    8
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    9
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-BS">
                    L
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-OE">
                    E
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-v-9d93d892="" issuenumber="20240828051034" number="3" rowid="4">
            <div data-v-9d93d892="" class="van-row">
              <div data-v-9d93d892="" class="van-col van-col--8">
                <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">
                  20240828051034
                </div>
              </div>
              <div data-v-9d93d892="" class="van-col van-col--16">
                <div data-v-9d93d892="" class="Trend__C-body2-Num">
                  <canvas data-v-9d93d892="" canvas="" id="myCanvas4" class="line-canvas"></canvas>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    0
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    1
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    2
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">
                    3
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    4
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    5
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    6
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    7
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    8
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    9
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-BS">
                    L
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">
                    O
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-v-9d93d892="" issuenumber="20240828051033" number="6" rowid="5">
            <div data-v-9d93d892="" class="van-row">
              <div data-v-9d93d892="" class="van-col van-col--8">
                <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">
                  20240828051033
                </div>
              </div>
              <div data-v-9d93d892="" class="van-col van-col--16">
                <div data-v-9d93d892="" class="Trend__C-body2-Num">
                  <canvas data-v-9d93d892="" canvas="" id="myCanvas5" class="line-canvas"></canvas>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    0
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    1
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    2
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    3
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    4
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    5
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">
                    6
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    7
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    8
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    9
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-BS isB">
                    H
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-OE">
                    E
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-v-9d93d892="" issuenumber="20240828051032" number="3" rowid="6">
            <div data-v-9d93d892="" class="van-row">
              <div data-v-9d93d892="" class="van-col van-col--8">
                <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">
                  20240828051032
                </div>
              </div>
              <div data-v-9d93d892="" class="van-col van-col--16">
                <div data-v-9d93d892="" class="Trend__C-body2-Num">
                  <canvas data-v-9d93d892="" canvas="" id="myCanvas6" class="line-canvas"></canvas>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    0
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    1
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    2
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">
                    3
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    4
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    5
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    6
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    7
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    8
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    9
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-BS">
                    L
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">
                    O
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-v-9d93d892="" issuenumber="20240828051031" number="3" rowid="7">
            <div data-v-9d93d892="" class="van-row">
              <div data-v-9d93d892="" class="van-col van-col--8">
                <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">
                  20240828051031
                </div>
              </div>
              <div data-v-9d93d892="" class="van-col van-col--16">
                <div data-v-9d93d892="" class="Trend__C-body2-Num">
                  <canvas data-v-9d93d892="" canvas="" id="myCanvas7" class="line-canvas"></canvas>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    0
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    1
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    2
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">
                    3
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    4
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    5
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    6
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    7
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    8
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    9
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-BS">
                    L
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">
                    O
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-v-9d93d892="" issuenumber="20240828051030" number="9" rowid="8">
            <div data-v-9d93d892="" class="van-row">
              <div data-v-9d93d892="" class="van-col van-col--8">
                <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">
                  20240828051030
                </div>
              </div>
              <div data-v-9d93d892="" class="van-col van-col--16">
                <div data-v-9d93d892="" class="Trend__C-body2-Num">
                  <canvas data-v-9d93d892="" canvas="" id="myCanvas8" class="line-canvas"></canvas>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    0
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    1
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    2
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    3
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    4
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    5
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    6
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    7
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    8
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">
                    9
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-BS isB">
                    H
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">
                    O
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-v-9d93d892="" issuenumber="20240828051029" number="3" rowid="9">
            <div data-v-9d93d892="" class="van-row">
              <div data-v-9d93d892="" class="van-col van-col--8">
                <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">
                  20240828051029
                </div>
              </div>
              <div data-v-9d93d892="" class="van-col van-col--16">
                <div data-v-9d93d892="" class="Trend__C-body2-Num">
                  <canvas data-v-9d93d892="" canvas="" id="myCanvas9" class="line-canvas"></canvas>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    0
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    1
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    2
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">
                    3
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    4
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    5
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    6
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    7
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    8
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-item">
                    9
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-BS">
                    L
                  </div>
                  <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">
                    O
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-v-9d93d892="" class="Trend__C-foot">
          <div data-v-9d93d892="" class="Trend__C-foot-previous disabled">
            <i data-v-9d93d892="" class="van-badge__wrapper van-icon van-icon-arrow-left Trend__C-icon"
              style="font-size: 20px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
          <div data-v-9d93d892="" class="Trend__C-foot-page">1/1688</div>
          <div data-v-9d93d892="" class="Trend__C-foot-next">
            <i data-v-9d93d892="" class="van-badge__wrapper van-icon van-icon-arrow Trend__C-icon"
              style="font-size: 20px">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
      </div>
      <div data-v-36ddca8e="" data-v-4f526022="" class="MyGameRecord__C" style="display: none">
        <div data-v-36ddca8e="" class="MyGameRecord__C-head">
          <!-- <div data-v-36ddca8e="" class="MyGameRecord__C-head-moreB">
                            Detail 
                            <svg data-v-36ddca8e="" class="svg-icon icon-rightCircle">
                                <use xlink:href="#icon-rightCircle"></use>
                            </svg>
                        </div> -->
        </div>
        <div data-v-36ddca8e="" class="MyGameRecord__C-body">
          <div data-v-36ddca8e="" class="MyGameRecord__C-body-empty">
            <div data-v-f84b843f="" data-v-36ddca8e="" class="empty__container">
              <svg data-v-f84b843f="" class="svg-icon icon-empty">
                <use xlink:href="#icon-empty"></use>
              </svg>
              <p data-v-f84b843f="">No data</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="customer" id="customerId"
      onclick="if($(this).data('dragging')) return; window.top.postMessage({navigate: '/Customersupport'}, '*')" style="
          --f13b4d11-currentFontFamily: &quot;Roboto&quot;, &quot;Inter&quot;,
            sans-serif;
          --f6a705e1-currentFontFamily: bahnschrift;
        ">
      <img class="" data-origin="/assets/png/icon_sevice.webp" src="/assets/png/icon_sevice.webp" />
    </div>
    <script>
      $("#customerId").draggable({
        start: function (event, ui) {
          $("#customerId").css("cursor", "grabbing");
          $(this).data("dragging", true);
        },
        drag: function () {
          $("#customerId").css("cursor", "grabbing");
        },
        stop: function (event, ui) {
          $("#customerId");
          $("#customerId").css("cursor", "initial");
          setTimeout(function () {
            $(event.target).data("dragging", false);
          }, 1);
        },
      });
    </script>
  </div>
  <div data-v-app=""></div>
  <div class="van-overlay" style="z-index: 2001; display: none">
    <!---->
  </div>
  <div role="dialog" tabindex="0"
    class="van-popup van-popup--center van-toast van-toast--middle van-toast--loading van-fade-enter-to"
    style="z-index: 2001; display: none">
    <div class="van-loading van-loading--circular van-toast__loading" aria-live="polite" aria-busy="true">
      <span class="van-loading__spinner van-loading__spinner--circular">
        <svg class="van-loading__circular" viewBox="25 25 50 50">
          <circle cx="50" cy="50" r="20" fill="none"></circle>
        </svg>
      </span>
      <!---->
    </div>
    <!---->
    <!---->
  </div>
  <div role="dialog" tabindex="0"
    class="van-popup van-popup--center van-toast van-toast--middle van-toast--break-word van-toast--fail"
    style="z-index: 2007; display: none" id="alert_message">
    <i class="van-badge__wrapper van-icon van-icon-success van-toast__icon">
      <!---->
      <!---->
      <!---->
    </i>
    <div class="van-toast__text">Insufficient balance</div>
    <!---->
  </div>
  <div data-v-e05c7c66="" data-v-4f526022="" class="WinningTip__C" style="display: none" id="popup_modal">
    <div data-v-e05c7c66="" class="WinningTip__C-body" id="popup_background">
      <div data-v-e05c7c66="" class="WinningTip__C-body-l1" id="popup_greeting_display">
        Congratulations
      </div>
      <div data-v-e05c7c66="" class="WinningTip__C-body-l2">
        Lottery results

        <div data-v-e05c7c66="" class="line1" id="lottery_results_box">
          <div data-v-e05c7c66="">
            <div data-v-e05c7c66="" class="title sum">SUM</div>
            <div data-v-e05c7c66="" class="num"></div>
          </div>
        </div>
      </div>
      <div data-v-e05c7c66="" class="WinningTip__C-body-l3">
        <div data-v-e05c7c66="" class="isLose" id="popup_loss_symbol">
          Lose
        </div>
        <div data-v-e05c7c66="" class="head" id="popup_win_symbol">Bonus</div>
        <div data-v-e05c7c66="" class="bonus" id="popup_win_rupees_display"></div>
        <div data-v-e05c7c66="" class="gameDetail" id="popup_game_details">
          Period:
        </div>
      </div>
      <div data-v-e05c7c66="" class="WinningTip__C-body-l4">
        <div data-v-e05c7c66="" class="acitveBtn"></div>
        3 seconds auto close
      </div>
      <div data-v-e05c7c66="" class="closeBtn"></div>
      <i data-v-e05c7c66="" class="van-badge__wrapper van-icon van-icon-arrow arrowBtn"
        style="color: rgb(255, 255, 255); font-size: 30px; display: none"></i>
    </div>
  </div>
  <script>
    $(".closeBtn").click(function () {
      $(".WinningTip__C").hide();
    });
  </script>
</body>

</html>