<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 36px;">

<head>


    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Rajagame21</title>
    <link rel="stylesheet" href="/DUIWIN/abgroupc/assets/css/modules-5dd73da0.css">
    <link rel="stylesheet" href="/DUIWIN/abgroupc/assets/css/page-activity-4cebb61c.css">
    <link rel="stylesheet" href="/DUIWIN/abgroupc/assets/css/page-home-f4463c96.css">
    <link rel="stylesheet" href="/DUIWIN/abgroupc/assets/css/page-login-13ee2916.css">
    <link rel="stylesheet" href="/DUIWIN/abgroupa/assets/css/page-activity-15aec14d.css">
    <link rel="stylesheet" href="/DUIWIN/abgroupa/assets/css/page-home-cd3ca502.css">
    <link rel="stylesheet" href="/DUIWIN/abgroupa/css/page-home-a4807077.css">
    <link rel="stylesheet" href="/DUIWIN/abgroupa/css/modules-5dd73da0.css">
    <link rel="stylesheet" href="/DUIWIN/index-06e0e9c4.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
        integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>


<style>
    #leftBtn,
    #rightBtn {
        cursor: pointer;
        width: 24px;
        height: 24px;
    }

    .nav-right .text[data-v-3dc40049] {
        color: var(--text_color_L2);
    }

    .navbar__content-left img {
        height: 63%;
        margin-left: -15px;
    }

    .multiple {
        position: absolute;
        top: 0;
        left: 0;
        background: -webkit-linear-gradient(left, #da22e4 0%, #981bfa 100%);
        background: linear-gradient(90deg, #da22e4 0%, #981bfa 100%);
        height: .53333rem;
        line-height: .53333rem;
        padding: 0 .26667rem;
        font-size: .32rem;
        font-weight: 700;
        border-bottom-right-radius: .13333rem
    }

    #app .noticeBar__container button.hotIcon:before {
        background-image: url(https://diuwin.bet/assets/svg/hot-fe834c7e.svg)
    }

    .p3-terms-logo[data-v-ca43e9bb] {
        margin: 0px
    }

    .p3-terms-logo svg[data-v-ca43e9bb],
    .p3-terms-logo img[data-v-ca43e9bb] {
        height: 58px;
    }

    .p3-terms-icons[data-v-ca43e9bb] {
        margin-top: 26px;
    }

    .van-dialog__confirm,
    .van-dialog__cancel {
        background: #222121;
    }

    .prompt-dialog .promptContent {
        color: #fff
    }
</style>



<body style="font-size: 12px;" class="">


    <div id="app" data-v-app="">

        <div class="content-daman content" style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif;">
            <div data-v-12a80a3e="" class="navbar">
                <div data-v-12a80a3e="" class="navbar-fixed">
                    <div data-v-12a80a3e="" class="navbar__content">
                        <div data-v-12a80a3e="" class="navbar__content-left"><img
                                src="/h5setting_202308141709544lm1.png" alt="">
                        </div>
                        <div data-v-12a80a3e="" class="navbar__content-center">
                            <div data-v-12a80a3e="" class="navbar__content-title"></div>
                        </div>
                        <div data-v-12a80a3e="" class="navbar__content-right">
                            <div data-v-3dc40049="" class="nav-right">
                                <!-- Show balance when the user is logged in -->
                                <svg data-v-3dc40049="" class="svg-icon icon-lottyWallet">
                                    <use xlink:href="#icon-lottyWallet"></use>
                                </svg>
                                <div data-v-3dc40049="">
                                    <div data-v-3dc40049="" class="text">Balance</div>
                                    <div data-v-3dc40049="" class="money"
                                        onclick="window.location.href='/wallet/recharge'">Recharge</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 滚动通知栏 -->
            <div class="noticeBar__container"><svg class="svg-icon icon-noticeBarSpeaker">
                    <use xlink:href="#icon-noticeBarSpeaker"></use>
                </svg>
                <div class="noticeBar__container-body">
                    <div class="noticeBar__container-body-text">Welcome to the 6club! Greetings, Gamers and Enthusiasts!
                        6club is more than just a platform for gaming. We invite you to join us, you'll find a variety
                        of games, promo, bonus, luxury gold awards, Register now and win.
                    </div>
                </div><button class="hotIcon">Detail</button>
            </div>

            <div data-v-0137aa14="" class="game-content">
                <div data-v-a75fb528="" data-v-0137aa14="" class="homeNav" id="lottery">
                    <div data-v-a75fb528="" class="title">
                        <div data-v-a75fb528=""><b data-v-a75fb528=""></b>Lottery
                            <div data-v-a75fb528="" class="allMore">More 3</div>
                        </div>
                        <div data-v-a75fb528="" class="right_btn"><svg data-v-a75fb528="" class="svg-icon icon-p3a_l">
                                <use xlink:href="#icon-p3a_l"></use>
                            </svg><svg data-v-a75fb528="" class="svg-icon icon-p3a_r">
                                <use xlink:href="#icon-p3a_r"></use>
                            </svg></div>
                    </div>
                    <div data-v-a75fb528="" class="tip">Fair and diverse lottery gameplay</div>
                    <div data-v-3ad7aed7="" class="swiper_box">
                        <div data-v-3ad7aed7="" class="swiper my-swipe">
                            <div class="swiper-wrapper">
                                <div data-v-3ad7aed7="" class="swiper-slide">
                                    <img data-v-a75fb528="" alt=""
                                        src="https://ossimg.6club-club.com/6club/lotterycategory/lotterycategory_202409041609289wsl.png"
                                        onclick="window.location.href='/wingo?game_type=1'">
                                    <img data-v-a75fb528="" alt=""
                                        src="https://ossimg.6club-club.com/6club/lotterycategory/lotterycategory_202409041609345gvx.png"
                                        onclick="window.location.href='/k3?game_type=1'">
                                    <img data-v-a75fb528="" alt=""
                                        src="https://ossimg.6club-club.com/6club/lotterycategory/lotterycategory_202409041609402smb.png"
                                        onclick="window.location.href='/5d?game_type=1'">
                                </div>
                                <div data-v-3ad7aed7="" class="swiper-slide">
                                    <img data-v-a75fb528="" alt=""
                                        src="https://ossimg.6club-club.com/6club/lotterycategory/lotterycategory_202409041609289wsl.png"
                                        onclick="window.location.href='/wingo?game_type=1'">
                                    <img data-v-a75fb528="" alt=""
                                        src="https://ossimg.6club-club.com/6club/lotterycategory/lotterycategory_202409041609345gvx.png"
                                        onclick="window.location.href='/k3?game_type=1'">
                                    <img data-v-a75fb528="" alt=""
                                        src="https://ossimg.6club-club.com/6club/lotterycategory/lotterycategory_202409041609402smb.png"
                                        onclick="window.location.href='/5d?game_type=1'">
                                </div>
                                <!-- Add more slides as necessary -->
                            </div>
                        </div>
                    </div>
                    <button onclick="window.location.href='/wingo?game_type=1'">wingo</button>
                    <button onclick="window.location.href='/k3?game_type=1'">k3</button>
                    <button onclick="window.location.href='/5d?game_type=1'">5d</button>
                    <button onclick="window.location.href='/trx_wingo?game_type=1'">trx</button>
                </div>

            </div>


        </div>

    </div>

    <div class="van-overlay"
        style="z-index: 2000; --f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif; display: none;">
    </div>
    <div role="dialog" tabindex="0" class="van-popup van-popup--center van-dialog prompt-dialog"
        style="z-index: 2002; display: none;">
        <div class="van-dialog__content">
            <div class="promptHeader">Notification</div>
            <div data-v-3dc40049="" class="promptContent">
                <p></p>
                <div style="text-align: center;"><span style="text-align: left;">
                        <font color="#ff9c00" face="Helvetica Neue, Helvetica, Arial, sans-serif">✅</font>
                    </span>
                    <font face="Helvetica Neue, Helvetica, Arial, sans-serif" style="color: rgb(255, 156, 0);">&nbsp;
                    </font><span style="color: rgb(255, 156, 0); font-family: &quot;Arial Black&quot;;"><b>WELCOME TO
                            6CLUB&nbsp;</b></span><span style="text-align: left;">
                        <font color="#ff9c00" face="Arial Black"><b>✅</b></font>
                    </span>
                </div>
                <div style="text-align: justify;">
                    <p style="text-align: center;"><span style="text-align: justify;">
                            <font color="#cec6ce" face="Arial Black">🥇</font>
                        </span>
                        <font color="#cec6ce"
                            style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><b
                                style=""><span style="font-family: &quot;Arial Black&quot;;">BEST PLATFORM IN
                                    INDIA</span></b>
                        </font><span style="text-align: justify;">
                            <font color="#cec6ce" face="Arial Black"><b>🥇<br><br></b></font>
                        </span><b
                            style="color: rgb(255, 156, 0); font-family: &quot;Arial Black&quot;; text-align: left;">✅</b><span
                            style="text-align: justify;">
                            <font color="#cec6ce" face="Arial Black"><b>Always login using official<a
                                        href="https://6club.pro/#/" target="_blank">【LINK】</a></b></font>
                        </span><b
                            style="color: rgb(255, 156, 0); font-family: &quot;Arial Black&quot;; text-align: left;">✅</b><span
                            style="text-align: justify;">
                            <font color="#cec6ce" face="Arial Black"><b><br></b></font>
                        </span>
                    </p>
                    <div style="text-align: center;">
                        <font color="#cec6ce" face="Arial Black"><b><span
                                    style="color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-weight: normal;">
                                    <font color="#cec6ce" face="Arial Black"><b>🚀Fastest and most secure transaction
                                            process&nbsp;</b></font>
                                </span><span
                                    style="color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-weight: normal;">
                                    <font color="#cec6ce" face="Arial Black"><b>🚀</b></font>
                                </span></b>
                        </font>
                    </div>
                    <p></p>
                    <p style="text-align: center;"><b
                            style="color: rgb(206, 198, 206); font-family: &quot;Arial Black&quot;;">⚠️</b>
                        <font face="Arial Black" color="#cec6ce"><b><span
                                    style="font-family: &quot;Arial Black&quot;;">Stay safe
                                    with the fraudulent using 6CLUB⚠️</span></b></font>
                    </p>
                    <p style="text-align: center;"><b
                            style="color: rgb(206, 198, 206); font-family: &quot;Arial Black&quot;;">❌</b>
                        <font face="Arial Black" color="#cec6ce"><b>Never send money to anyone claiming to be an
                                agent❌</b></font>
                    </p>
                    <p style="text-align: center;"><b
                            style="color: rgb(206, 198, 206); font-family: &quot;Arial Black&quot;;">❌</b>
                        <font face="Arial Black" color="#cec6ce"><b>Do not share proof of payments, UTR Number or OTP
                                Code</b>
                        </font><b style="color: rgb(206, 198, 206); font-family: &quot;Arial Black&quot;;">❌</b>
                    </p>
                    <p style="text-align: center;"><br></p>
                    <p style="text-align: center;"><span style="text-align: justify;">
                            <font color="#cec6ce" face="Arial Black"><b>💥</b></font>
                        </span>
                        <font face="Arial Black" color="#cec6ce"><b>&nbsp;Check the activity page for exciting
                                bonuses!&nbsp;</b>
                        </font><span style="text-align: justify;">
                            <font color="#cec6ce" face="Arial Black"><b>💥</b></font>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <font face="Arial Black" color="#cec6ce"><b style="">💸 Become an agent to unlock special
                                benefits and
                                plenty of bonuses! 💸</b></font>
                    </p>
                    <div
                        style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; text-align: left;">
                        <br></div>
                </div>
                <p></p>
            </div>
        </div>
        <div class="van-hairline--top van-dialog__footer"><button onclick="closeNotificationPopup()" type="button"
                class="van-button van-button--default van-button--large van-dialog__confirm">
                <div class="van-button__content"><span class="van-button__text">Confirm</span></div>
            </button></div>
    </div>
    <div role="dialog" tabindex="0" class="van-popup van-popup--center van-dialog firstSaveDialog"
        style="z-index: 2003; --f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif; display: none;">
        <div class="van-dialog__header">
            <div data-v-9cd12fb2="" class="header">
                <div data-v-9cd12fb2="" class="title">Extra first deposit bonus</div>
                <div data-v-9cd12fb2="" class="tip">Each account can only receive rewards once</div>
            </div>
        </div>
        <div class="van-dialog__content">
            <div data-v-9cd12fb2="" class="container first_deposit_list">
                <div data-v-48dabef8="" class="first_list-item">
                    <div data-v-48dabef8="" class="head">
                        <div data-v-48dabef8="" class="title">First deposit<span data-v-48dabef8="">100000</span></div>
                        <div data-v-48dabef8="" class="orange">+ ₹800.00</div>
                    </div>
                    <div data-v-48dabef8="" class="description">Deposit 100000 for the first time and you will receive
                        800 bonus</div>
                    <div data-v-48dabef8="" class="foot">
                        <div data-v-bff59ba2="" data-v-48dabef8="" class="progress"
                            style="background: var(--bg_color_L1); height: 16px; border-radius: 16px;">
                            <div data-v-bff59ba2="" class="line"
                                style="background: var(--norm_green-color); width: 0%; height: 16px; border-radius: 16px;">
                            </div>
                            <div data-v-bff59ba2="" class="step">0/100000</div>
                        </div>
                        <div data-v-48dabef8="" class="btn n2">Deposit</div>
                    </div>
                </div>
                <div data-v-48dabef8="" class="first_list-item">
                    <div data-v-48dabef8="" class="head">
                        <div data-v-48dabef8="" class="title">First deposit<span data-v-48dabef8="">50000</span></div>
                        <div data-v-48dabef8="" class="orange">+ ₹500.00</div>
                    </div>
                    <div data-v-48dabef8="" class="description">Deposit 50000 for the first time and you will receive
                        500 bonus</div>
                    <div data-v-48dabef8="" class="foot">
                        <div data-v-bff59ba2="" data-v-48dabef8="" class="progress"
                            style="background: var(--bg_color_L1); height: 16px; border-radius: 16px;">
                            <div data-v-bff59ba2="" class="line"
                                style="background: var(--norm_green-color); width: 0%; height: 16px; border-radius: 16px;">
                            </div>
                            <div data-v-bff59ba2="" class="step">0/50000</div>
                        </div>
                        <div data-v-48dabef8="" class="btn n2">Deposit</div>
                    </div>
                </div>
                <div data-v-48dabef8="" class="first_list-item">
                    <div data-v-48dabef8="" class="head">
                        <div data-v-48dabef8="" class="title">First deposit<span data-v-48dabef8="">10000</span></div>
                        <div data-v-48dabef8="" class="orange">+ ₹200.00</div>
                    </div>
                    <div data-v-48dabef8="" class="description">Deposit 10000 for the first time and you will receive
                        200 bonus</div>
                    <div data-v-48dabef8="" class="foot">
                        <div data-v-bff59ba2="" data-v-48dabef8="" class="progress"
                            style="background: var(--bg_color_L1); height: 16px; border-radius: 16px;">
                            <div data-v-bff59ba2="" class="line"
                                style="background: var(--norm_green-color); width: 0%; height: 16px; border-radius: 16px;">
                            </div>
                            <div data-v-bff59ba2="" class="step">0/10000</div>
                        </div>
                        <div data-v-48dabef8="" class="btn n2">Deposit</div>
                    </div>
                </div>
                <div data-v-48dabef8="" class="first_list-item">
                    <div data-v-48dabef8="" class="head">
                        <div data-v-48dabef8="" class="title">First deposit<span data-v-48dabef8="">5000</span></div>
                        <div data-v-48dabef8="" class="orange">+ ₹100.00</div>
                    </div>
                    <div data-v-48dabef8="" class="description">Deposit 5000 for the first time and you will receive 100
                        bonus</div>
                    <div data-v-48dabef8="" class="foot">
                        <div data-v-bff59ba2="" data-v-48dabef8="" class="progress"
                            style="background: var(--bg_color_L1); height: 16px; border-radius: 16px;">
                            <div data-v-bff59ba2="" class="line"
                                style="background: var(--norm_green-color); width: 0%; height: 16px; border-radius: 16px;">
                            </div>
                            <div data-v-bff59ba2="" class="step">0/5000</div>
                        </div>
                        <div data-v-48dabef8="" class="btn n2">Deposit</div>
                    </div>
                </div>
                <div data-v-48dabef8="" class="first_list-item">
                    <div data-v-48dabef8="" class="head">
                        <div data-v-48dabef8="" class="title">First deposit<span data-v-48dabef8="">200</span></div>
                        <div data-v-48dabef8="" class="orange">+ ₹10.00</div>
                    </div>
                    <div data-v-48dabef8="" class="description">Deposit 200 for the first time and you will receive 10
                        bonus
                    </div>
                    <div data-v-48dabef8="" class="foot">
                        <div data-v-bff59ba2="" data-v-48dabef8="" class="progress"
                            style="background: var(--bg_color_L1); height: 16px; border-radius: 16px;">
                            <div data-v-bff59ba2="" class="line"
                                style="background: var(--norm_green-color); width: 0%; height: 16px; border-radius: 16px;">
                            </div>
                            <div data-v-bff59ba2="" class="step">0/200</div>
                        </div>
                        <div data-v-48dabef8="" class="btn n2">Deposit</div>
                    </div>
                </div>
            </div>
            <div data-v-9cd12fb2="" class="close" onclick="closeFDPopup()"></div>
        </div>
        <div data-v-9cd12fb2="" class="footer">
            <!-- <div data-v-9cd12fb2="" class="active a">
                  <svg data-v-9cd12fb2="" class="svg-icon icon-active">
                     <use xlink:href="#icon-active"></use>
                  </svg>
                  No more reminders today
               </div> -->
            <div data-v-9cd12fb2="" class="btn" onclick="location.href='/first_deposit_bonus'">Activity</div>
        </div>
    </div>
    </div>





</body>

</html>