<div data-v-b68febd5="" class="history">
  <div data-v-b68febd5="" class="nav">
    <div data-v-b68febd5="" class="nav-container">
      <div data-v-b68febd5="" class="action" id="game_history_tab_button">
        Game history
      </div>
      <div data-v-b68febd5="" class="" id="trend_tab_button">Chart</div>
      <div data-v-b68febd5="" class="" id="strategy_tab_button">
        Follow Strategy
      </div>
      <div data-v-b68febd5="" class="" id="my_bets_tab_button">My history</div>
    </div>
  </div>
</div>

<div data-v-a9660e98="" class="tab_panel active" id="game_history_tab">
  <div data-v-c52f94a7="" data-v-40958d9a="" class="GameRecord__C">
    <div data-v-c52f94a7="" class="GameRecord__C-head">
      <div data-v-c52f94a7="" class="van-row">
        <div data-v-c52f94a7="" class="van-col van-col--8">Period</div>
        <div data-v-c52f94a7="" class="van-col van-col--5">Number</div>
        <div data-v-c52f94a7="" class="van-col van-col--5">Big Small</div>
        <div data-v-c52f94a7="" class="van-col van-col--6">Color</div>
      </div>
    </div>
    <div
      data-v-c52f94a7=""
      class="GameRecord__C-body"
      id="game_history_data_container"
    ></div>

    <div data-v-54016b1c="" class="Trend__C-foot" id="game_history__bottom_nav">
      <div
        data-v-54016b1c=""
        class="Trend__C-foot-previous disabled previous_page"
      >
        <i
          data-v-54016b1c=""
          class="van-badge__wrapper van-icon van-icon-arrow-left Trend__C-icon"
          style="font-size: 20px"
        ></i>
      </div>
      <div
        data-v-54016b1c=""
        class="Trend__C-foot-page"
        id="number_result__gameHistory"
        style="color: #fff"
      >
        1/1670
      </div>
      <div data-v-54016b1c="" class="Trend__C-foot-next next_page">
        <i
          data-v-54016b1c=""
          class="van-badge__wrapper van-icon van-icon-arrow Trend__C-icon"
          style="font-size: 20px"
        ></i>
      </div>
    </div>
  </div>
</div>

<div data-v-a9660e98="" class="tab_panel" id="trend_tab">
  <div data-v-a9660e98="" class="list m-t-10">
    <div
      data-v-54016b1c=""
      data-v-3f742540=""
      class="Trend__C"
      apifun="e=>r(g.WinTxrGetTRXMyEmerdList,e).then(s=>s.data)"
      gopathname="AllLotteryGames-BettingRecordWinTrx"
    >
      <div data-v-54016b1c="" class="Trend__C-head">
        <div data-v-54016b1c="" class="van-row">
          <div data-v-54016b1c="" class="van-col van-col--8">Period</div>
          <div data-v-54016b1c="" class="van-col van-col--16">Number</div>
        </div>
      </div>
      <div data-v-54016b1c="" class="Trend__C-body1">
        <div data-v-54016b1c="" class="Trend__C-body1-line" style="color: #fff">
          Statistic (last 100 Periods)
        </div>
        <div data-v-54016b1c="" class="Trend__C-body1-line lottery">
          <div data-v-54016b1c="" style="color: #fff">Winning number</div>
          <div data-v-54016b1c="" class="Trend__C-body1-line-num">
            <div data-v-54016b1c="">0</div>
            <div data-v-54016b1c="">1</div>
            <div data-v-54016b1c="">2</div>
            <div data-v-54016b1c="">3</div>
            <div data-v-54016b1c="">4</div>
            <div data-v-54016b1c="">5</div>
            <div data-v-54016b1c="">6</div>
            <div data-v-54016b1c="">7</div>
            <div data-v-54016b1c="">8</div>
            <div data-v-54016b1c="">9</div>
          </div>
        </div>
        <div data-v-54016b1c="" class="Trend__C-body1-line">
          <div data-v-54016b1c="" style="color: #fff">Missing</div>
          <div data-v-54016b1c="" class="Trend__C-body1-line-num">
            <div data-v-54016b1c="">5</div>
            <div data-v-54016b1c="">13</div>
            <div data-v-54016b1c="">0</div>
            <div data-v-54016b1c="">2</div>
            <div data-v-54016b1c="">14</div>
            <div data-v-54016b1c="">4</div>
            <div data-v-54016b1c="">23</div>
            <div data-v-54016b1c="">3</div>
            <div data-v-54016b1c="">1</div>
            <div data-v-54016b1c="">7</div>
          </div>
        </div>
        <div data-v-54016b1c="" class="Trend__C-body1-line">
          <div data-v-54016b1c="" style="color: #fff">Avg missing</div>
          <div data-v-54016b1c="" class="Trend__C-body1-line-num">
            <div data-v-54016b1c="">9</div>
            <div data-v-54016b1c="">5</div>
            <div data-v-54016b1c="">8</div>
            <div data-v-54016b1c="">11</div>
            <div data-v-54016b1c="">10</div>
            <div data-v-54016b1c="">10</div>
            <div data-v-54016b1c="">13</div>
            <div data-v-54016b1c="">11</div>
            <div data-v-54016b1c="">7</div>
            <div data-v-54016b1c="">15</div>
          </div>
        </div>
        <div data-v-54016b1c="" class="Trend__C-body1-line">
          <div data-v-54016b1c="" style="color: #fff">Frequency</div>
          <div data-v-54016b1c="" class="Trend__C-body1-line-num">
            <div data-v-54016b1c="">9</div>
            <div data-v-54016b1c="">19</div>
            <div data-v-54016b1c="">11</div>
            <div data-v-54016b1c="">7</div>
            <div data-v-54016b1c="">10</div>
            <div data-v-54016b1c="">9</div>
            <div data-v-54016b1c="">8</div>
            <div data-v-54016b1c="">8</div>
            <div data-v-54016b1c="">13</div>
            <div data-v-54016b1c="">6</div>
          </div>
        </div>
        <div data-v-54016b1c="" class="Trend__C-body1-line">
          <div data-v-54016b1c="" style="color: #fff">Max consecutive</div>
          <div data-v-54016b1c="" class="Trend__C-body1-line-num">
            <div data-v-54016b1c="">1</div>
            <div data-v-54016b1c="">3</div>
            <div data-v-54016b1c="">1</div>
            <div data-v-54016b1c="">1</div>
            <div data-v-54016b1c="">2</div>
            <div data-v-54016b1c="">2</div>
            <div data-v-54016b1c="">2</div>
            <div data-v-54016b1c="">2</div>
            <div data-v-54016b1c="">3</div>
            <div data-v-54016b1c="">2</div>
          </div>
        </div>
      </div>
      <div data-v-54016b1c="" class="Trend__C-body2" id="chart_container"></div>

      <div data-v-54016b1c="" class="Trend__C-foot" id="chart__bottom_nav">
        <div
          data-v-54016b1c=""
          class="Trend__C-foot-previous disabled previous_page"
        >
          <i
            data-v-54016b1c=""
            class="van-badge__wrapper van-icon van-icon-arrow-left Trend__C-icon"
            style="font-size: 20px"
          ></i>
        </div>
        <div
          data-v-54016b1c=""
          class="Trend__C-foot-page"
          id="number_result__chart"
          style="color: #fff"
        >
          1/1670
        </div>
        <div data-v-54016b1c="" class="Trend__C-foot-next next_page">
          <i
            data-v-54016b1c=""
            class="van-badge__wrapper van-icon van-icon-arrow Trend__C-icon"
            style="font-size: 20px"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  data-v-a9660e98=""
  class="tab_panel"
  id="my_bets_tab"
  style="padding-top: 10px"
>
  <div data-v-a9660e98="" class="list m-t-8">
    <div data-v-3c1f9720="" class="MyGameRecord__C-body" ;>
      <div
        data-v-373b3197=""
        data-v-3c1f9720=""
        class="MyGameRecordList__C"
        id="my_bets_data_container"
      ></div>
    </div>
    <div data-v-54016b1c="" class="Trend__C-foot" id="my_bets__bottom_nav">
      <div
        data-v-54016b1c=""
        class="Trend__C-foot-previous disabled previous_page"
      >
        <i
          data-v-54016b1c=""
          class="van-badge__wrapper van-icon van-icon-arrow-left Trend__C-icon"
          style="font-size: 20px"
        ></i>
      </div>
      <div
        data-v-54016b1c=""
        class="Trend__C-foot-page"
        id="number_result__myBet"
        style="color: #fff"
      >
        1/1670
      </div>
      <div data-v-54016b1c="" class="Trend__C-foot-next next_page">
        <i
          data-v-54016b1c=""
          class="van-badge__wrapper van-icon van-icon-arrow Trend__C-icon"
          style="font-size: 20px"
        ></i>
      </div>
    </div>
  </div>
</div>

<div data-v-a9660e98="" class="tab_panel" id="strategy_tab">
  <div data-v-a9660e98="" class="list m-t-8">
    <div class="Strategy__C-body" id="strategy_data_container">
      <div data-v-a9660e98="" class="van-empty">
        <div class="van-empty__image">
          <img src="/images/empty-image-default.png" />
        </div>
        <p class="van-empty__description">No Data</p>
      </div>
    </div>
  </div>
</div>
<style>
  .history[data-v-b68febd5] {
    width: 100%;
    padding-top: 10px;
  }
  .history .nav[data-v-b68febd5] {
    padding-left: 0.34667rem;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .history .nav[data-v-b68febd5]::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  .history .nav > .nav-container[data-v-b68febd5] {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .history .nav > .nav-container.noScroll > div[data-v-b68febd5] {
    width: 2.93333rem;
  }
  .history .nav > .nav-container > div[data-v-b68febd5] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 3.2rem;
    height: 0.96rem;
    text-align: center;
    font-size: 0.37333rem;
    color: #929292;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background: var(--bg_color_L2);
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 0.21333rem;
    margin: 0 0.13333rem;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition:
      transform 0.2s,
      -webkit-transform 0.2s;
    -webkit-user-select: none;
    user-select: none;
    /* box-shadow: 0 0.05333rem 0.05333rem #f8030329; */
  }
  .history .nav > .nav-container > div.action[data-v-b68febd5],
  .history .nav > .nav-container > div.action {
    font-weight: 500;
    color: var(--text_color_L4);
    background: var(--main_gradient-color, var(--main_gradient-color));
  }
  .history .nav > .nav-container > div[data-v-b68febd5]:first-child {
    margin-left: 0;
  }
  .history .nav[data-v-b68febd5] ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
  .history .nav[data-v-b68febd5] {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: auto;
    overflow-y: hidden;
  }
  @media (hover: hover) {
    .history .nav .nav-container > div[data-v-b68febd5]:hover:not(.active) {
      background: var(--main_gradient-color);
    }
  }
  .tab_panel {
    display: none;
  }

  .tab_panel.active {
    display: block;
  }
</style>
