<div data-v-12a80a3e="" data-v-5d71c3fd="" class="navbar main">
  <div data-v-12a80a3e="" class="navbar-fixed">
    <div data-v-12a80a3e="" class="navbar__content">
      <div
        data-v-12a80a3e=""
        class="navbar__content-left"
        onclick="history.back()"
      >
        <i
          data-v-12a80a3e=""
          class="van-badge__wrapper van-icon van-icon-arrow-left"
        >
          <!---->
          <!---->
          <!---->
        </i>
      </div>
      <div data-v-12a80a3e="" class="navbar__content-center">
        <div
          data-v-12a80a3e=""
          class="headLogo"
          style="
            background-image: url(&quot;https://ossimg.forpicStore777.top/rajalottery/other/h5setting_20250421000058m1mo.png&quot;);
          "
        ></div>
        <div data-v-12a80a3e="" class="navbar__content-title"></div>
      </div>
      <div data-v-12a80a3e="" class="navbar__content-right">
        <div data-v-5d71c3fd="" class="WinGo__C-head-more">
          <div
            data-v-5d71c3fd=""
            onclick="window.top.postMessage({navigate: '/Customersupport'}, '*')"
          ></div>
          <div data-v-5d71c3fd="" class="" id="audio_button"></div>
        </div>
      </div>
    </div>
  </div>
</div>
